<section class="content mt-5">
<mat-card class="content mt-5">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light shadow-sm">

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="username" class="form-label">Username</label>
        <input id="username" type="text" formControlName="username" class="form-control">
      </div>
      <div class="col-md-6">
        <label for="password" class="form-label">Password</label>
        <input id="password" type="password" formControlName="password" class="form-control">
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="role" class="form-label">Role</label>
        <select id="role" class="form-select" formControlName="role">
          <option value="" disabled>Select Role</option>
          <option *ngFor="let r of roles" [value]="r">{{ r }}</option>
        </select>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary mt-4">Submit</button>
  </form>
  
</mat-card>
</section>
