<section class="  content">
    <div class=" mt-5 container">
      <form [formGroup]="saleForm" (ngSubmit)="submitSale()">
        <div class="form-group">
          <label>Customer Name</label>
          <input type="text" class="form-control" formControlName="customerName">
        </div>
  
        <div class="form-group">
          <label>Branch</label>
          <select class="form-control" formControlName="branchId">
            <option value="" disabled>Select Branch</option>
            <option *ngFor="let branch of branches" [value]="branch.id">{{ branch.name }}</option>
          </select>
        </div>
  
        <div formArrayName="saleOrderLines">
          <div *ngFor="let product of saleOrderLines.controls; let i = index" [formGroupName]="i" class="card p-3 mb-3">
            <div class="form-group">
              <label>Product</label>
              <select class="form-control" formControlName="itemId">
                <option value="" disabled>Select Product</option>
                <option *ngFor="let item of items" [value]="item.id">{{ item.name }}</option>
              </select>
            </div>
            <div class="form-group">
              <label>Quantity</label>
              <input type="number" class="form-control" formControlName="quantity" min="1">
            </div>
            <div class="form-group">
              <label>Price</label>
              <input type="number" class="form-control" formControlName="price">
            </div>
            <button type="button" class="btn btn-danger" (click)="removeProduct(i)" *ngIf="saleOrderLines.length > 1">Remove</button>
          </div>
        </div>
  
        <div class="d-flex  mt-3">
            <button type="button" class="btn btn-success" (click)="submitSale()">Add Another Product</button>
            <button type="submit" class="btn btn-primary ms-2">Submit Sale</button>
          </div>
          
      </form>
    </div>
  </section>
  