<section class="content mb-5 mt-5 pt-5">
  <mat-card class="content mt-5 pt-4">
    <form [formGroup]="stockForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light shadow-sm">
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="name" class="form-label">Name</label>
            <input id="name" type="text" formControlName="name" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="station" class="form-label">Station</label>
            <input id="station" type="text" formControlName="station" class="form-control">
          </div>
        </div>
      
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="quantity" class="form-label">Quantity</label>
            <input id="quantity" type="number" formControlName="quantity" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="itemId" class="form-label">Item ID</label>
            <input id="itemId" type="number" formControlName="itemId" class="form-control">
          </div>
        </div>
      
        <div class="row mb-3">
          <div class="col-md-6">
            <label for="storeId" class="form-label">Store ID</label>
            <input id="storeId" type="number" formControlName="storeId" class="form-control">
          </div>
          <div class="col-md-6">
            <label for="description" class="form-label">Description</label>
            <textarea id="description" formControlName="description" class="form-control" rows="2"></textarea>
          </div>
        </div>
      
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
  </mat-card>
</section>
