<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'All Salesperson'" [items]="['Salesperson']" [active_item]="'Salesperson'">
            </app-breadcrumb>
        </div>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    Onboard Salesperson
                </ng-template>
                <app-onboard-salesperson></app-onboard-salesperson>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Manage Salesperson
                </ng-template>
                <app-manage-salesperson></app-manage-salesperson>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
