<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Bulk SMS Notifications'" [items]="['Home', 'Notifications']" [active_item]="'Bulk SMS'">
            </app-breadcrumb>
        </div>
        <div class="card">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="boxs mail_listing">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="body">
                                <div class="table-responsive">
                                    <div class="materialTableHeader">
                                        <div class="row">
                                            <div class="col-8">
                                                <ul class="header-buttons-left ms-0">
                                                    <li class="dropdown">
                                                        <!--appearance="fill"-->
                                                        <mat-form-field>
                                                            <mat-label>Filter By </mat-label>
                                                            <mat-select [(value)]="selected" (selectionChange)="getSelected()">
                                                                <mat-option *ngFor="let item of templates" [value]="item">{{item}}</mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </li>
                                                    <li class="dropdown m-l-20">
                                                        <label for="search-input"><i
                                                                class="material-icons search-icon">search</i></label>
                                                        <input placeholder="Filter..." type="text"
                                                            (keyup)="applyFilter($event)" #filter
                                                            class="browser-default search-field"
                                                            aria-label="Search box">
                                                    </li>
                                                    <li>
                                                        <div class="m-l-10" matTooltip="Add">
                                                            <button mat-mini-fab color="primary" (click)="addCall()">
                                                                <mat-icon class="col-white">add</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="m-l-10" matTooltip="Refresh">
                                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                                <mat-icon class="col-white">refresh</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul class="header-buttons">
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                      exporter.exportTable('xlsx', {
                                        fileName: 'sms',
                                        sheet: 'sheet1'
                                      })
                                    " />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="CSV">
                                                            <img src="assets/images/icons/csv.png" alt=""
                                                                (click)="exporter.exportTable('csv')" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="JSON">
                                                            <img src="assets/images/icons/json.png" alt=""
                                                                (click)="exporter.exportTable('json')" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="TXT">
                                                            <img src="assets/images/icons/txt.png" alt=""
                                                                (click)="exporter.exportTable('txt')" />
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-table #table matTableExporter [dataSource]="dataSource" matSort
                                        class="mat-cell" #exporter="matTableExporter">
                                        <!-- ID Column -->
                                        <ng-container matColumnDef="id">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{i+1}}</mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="messageId">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Msg Id</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.messageId }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="phoneNumber">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Recipient</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.phoneNumber }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="message">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Message</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                <button mat-icon-button color="primary"
                                                    (click)="readMessage(row.message)" class="tbl-action-btn">
                                                    <app-feather-icons matTooltip="Click To Read Message"
                                                        [icon]="'eye'"></app-feather-icons>
                                                </button>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="sentDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Sent On</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.sentDate | date}}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="status">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Status</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                <div *ngIf="row.status == 'delivered'">
                                                    <span class="badge badge-pill badge-primary col-green">
                                                        {{row.status}}</span>
                                                </div>
                                                <div *ngIf="row.status == 'undelivered'">
                                                    <span class="badge badge-pill badge-primary col-red">
                                                        {{row.status}}</span>
                                                </div>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="statusReason">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Delivery
                                                Status</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.statusReason}}
                                            </mat-cell>
                                        </ng-container>
                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns"
                                            (click)="viewRoleCall(row)" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                        <mat-cell *matNoDataRow colspan="4">
                                            No data matching the filter "{{ input.value }}"</mat-cell>
                                    </mat-table>
                                    <!-- Loading spinner -->
                                    <div *ngIf="isLoading" class="tbl-spinner">
                                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                        </mat-progress-spinner>
                                    </div>
                                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 2, 5, 10, 20, 30, 40, 50, 100]"
                                        aria-label="Select page of users"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>