<section class="content mt-5">
<mat-card class="mt-5 content">
  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light shadow-sm">

    <div class="row mb-3">
      <div class="col-md-6">
        <label for="firstname" class="form-label">First Name</label>
        <input id="firstname" type="text" class="form-control" formControlName="firstname">
      </div>
      <div class="col-md-6">
        <label for="lastname" class="form-label">Last Name</label>
        <input id="lastname" type="text" class="form-control" formControlName="lastname">
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="email" class="form-label">Email</label>
        <input id="email" type="email" class="form-control" formControlName="email">
      </div>
      <div class="col-md-6">
        <label for="mobile" class="form-label">Mobile</label>
        <input id="mobile" type="text" class="form-control" formControlName="mobile">
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="contactName" class="form-label">Contact Name</label>
        <input id="contactName" type="text" class="form-control" formControlName="contactName">
      </div>
      <div class="col-md-6">
        <label for="personalEmail" class="form-label">Personal Email</label>
        <input id="personalEmail" type="email" class="form-control" formControlName="personalEmail">
      </div>
    </div>
  
    <div class="row mb-3">
      <div class="col-md-6">
        <label for="type" class="form-label">Customer Type</label>
        <select id="type" class="form-select" formControlName="type">
          <option value="" disabled>Select Type</option>
          <option *ngFor="let t of customerTypes" [value]="t">{{ t }}</option>
        </select>
      </div>
    </div>
  
    <button type="submit" class="btn btn-primary mt-5">Submit</button>
  </form>
  
</mat-card>
</section>
