<section class="content">
  <div class="content-block">
    <div class="block-header">
      <!-- breadcrumb -->
      <!-- <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'">
        </app-breadcrumb> -->
    </div>

    <!-- Widgets -->
    <div class="row" *ngIf="loaded">
      <div class="col-lg-3 col-sm-4">
        <div class="info-box7 bg1 order-info-box7" matTooltip="System Users" routerLink="/staff/sales/collections">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Qty (Ltr)</h4>
            <!-- <h2 class="text-end"><span class="float-start">{{quantity | number : '1.2-2' }}</span><i -->
              <h2 class="text-end"><span class="float-start">{{quantity}}</span><i
                class="fas fa-th"></i></h2>

          </div>

        </div>
      </div>
      <div class="col-lg-3 col-sm-4">
        <div class="info-box7 bg1 order-info-box7" matTooltip="All Subsidiaries" routerLink="/staff/sales/collections">
          <div class="info-box7-block">
            <h4 class="m-b-20">Total Collections</h4>
            <h2 class="text-end"><span class="float-start">{{count}}</span><i class="fas fa-th"></i></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4">
        <div class="info-box7 bg1 order-info-box7" matTooltip="All Departments" routerLink="/staff/farmers/farmers">
          <div class="info-box7-block">
            <h4 class="m-b-20">Registered Farmers</h4>
            <h2 class="text-end"><span class="float-start">{{farmers}}</span><i class="fas fa-th"></i></h2>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-sm-4">
        <div class="info-box7 bg1 order-info-box7" matTooltip="All Teams Maintained"
          routerLink="/staff/sales/collections">
          <!-- <div class="info-box7-block">
            <h4 class="m-b-20">Total Amount (KES)</h4>

            <h2 class="text-end"><span class="float-start">{{amount | number : '1.2-2' }}</span><i
                class="fas fa-th"></i></h2>


          </div> -->

        </div>
      </div>


    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-per-date></app-collector-collections-per-date>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-daily-milk-collection></app-daily-milk-collection>
      </div>
    </div>

    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
      <app-monthly-collectios-chart></app-monthly-collectios-chart>
    </div>
    
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <app-monthly-milk-collection-per-route></app-monthly-milk-collection-per-route>
      </div>
      

    <!--Milk Collections Analysis Per Collector-->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections></app-collector-collections>
      </div>
      <!-- <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-milk-qauntity-per-location></app-milk-qauntity-per-location>
      </div> -->
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collections-per-day></app-collections-per-day>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-milk-collection-quantity-against-price></app-milk-collection-quantity-against-price>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-count></app-collector-collections-count>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-in-quantity-per-session></app-collector-collections-in-quantity-per-session>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-in-price-per-session></app-collector-collections-in-price-per-session>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collector-collections-milk-price></app-collector-collections-milk-price>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collections-quantity></app-collections-quantity>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collections-price></app-collections-price>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collections-per-month></app-collections-per-month>
      </div>
    </div>

    <!--  -->

    <!-- <div class="row">
      <div class="col-6">
        <app-collections-per-collector></app-collections-per-collector>
      </div>

      <div class="col-6">
        <app-farmers-per-pickup-location></app-farmers-per-pickup-location>
      </div>
    </div>

    <div class="row">
      <div class="col-6">
        <app-pickup-locations-per-ward></app-pickup-locations-per-ward>
      </div>

      <div class="col-6">
        <app-milk-collections-per-ward></app-milk-collections-per-ward>
      </div>
    </div> -->

  </div>
</section>