<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Products Inventory Management'" [items]="['Home', 'Inventory']"
                [active_item]="'Products'">
            </app-breadcrumb>
        </div>
        <div class="card">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="boxs mail_listing">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="body">
                                <div class="table-responsive">
                                    <div class="materialTableHeader">
                                        <div class="row">
                                            <div class="col-8">
                                                <ul class="header-buttons-left ms-0">
                                                    <li class="dropdown">
                                                        <h2>Inventory</h2>
                                                    </li>
                                                    <li class="dropdown m-l-20">
                                                        <label for="search-input"><i
                                                                class="material-icons search-icon">search</i></label>
                                                        <input placeholder="Filter..." type="text"
                                                            (keyup)="applyFilter($event)" #filter
                                                            class="browser-default search-field"
                                                            aria-label="Search box">
                                                    </li>
                                                    <li>
                                                        <div class="m-l-10" matTooltip="Add">
                                                            <button mat-mini-fab color="primary" (click)="addCall()">
                                                                <mat-icon class="col-white">add</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="m-l-10" matTooltip="Refresh">
                                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                                <mat-icon class="col-white">refresh</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul class="header-buttons">
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                      exporter.exportTable('xlsx', {
                                        fileName: 'stock',
                                        sheet: 'sheet1'
                                      })
                                    " />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="CSV">
                                                            <img src="assets/images/icons/csv.png" alt=""
                                                                (click)="exporter.exportTable('csv')" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="JSON">
                                                            <img src="assets/images/icons/json.png" alt=""
                                                                (click)="exporter.exportTable('json')" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="TXT">
                                                            <img src="assets/images/icons/txt.png" alt=""
                                                                (click)="exporter.exportTable('txt')" />
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-table #table matTableExporter [dataSource]="dataSource" matSort
                                        class="mat-cell" #exporter="matTableExporter">
                                        <!-- ID Column -->
                                        <ng-container matColumnDef="id">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Id
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{i+1}}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="name" class="trow">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Product
                                                Name</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap trow">
                                                {{ row.name }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="price">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Buying
                                                Price</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap">
                                                {{ row.price }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="salePrice">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Selling
                                                Price</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.salePrice }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="profit">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Profit</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.profit }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="discount">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Discount</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.discount }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="discounted">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Discounted?</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                <div *ngIf="row.discounted == 1">
                                                    <span class="badge badge-pill badge-primary col-green">
                                                        {{"Yes"}}</span>
                                                </div>
                                                <div *ngIf="row.discounted == 0">
                                                    <span class="badge badge-pill badge-primary col-red">
                                                        {{"No"}}</span>
                                                </div>
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="Stock">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Stock</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.stock  }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="creationDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Created
                                                On</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.creationDate | date }}</mat-cell>
                                        </ng-container>

                                        <!-- Actions -->
                                        <ng-container matColumnDef="actions">
                                            <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                <button mat-icon-button color="primary" (click)="editCall(row)"
                                                    class="tbl-action-btn" matTooltip="Update Details">
                                                    <mat-icon>launch</mat-icon>
                                                </button>

                                                <button mat-icon-button color="warn" (click)="$event.stopPropagation()"
                                                    class="tbl-action-btn" (click)="deleteCall(row)">
                                                    <app-feather-icons [icon]="'trash'"
                                                        [class]="'tbl-fav-delete'"></app-feather-icons>
                                                </button>
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns"
                                            (click)="viewRoleCall(row)" [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                        <mat-cell *matNoDataRow colspan="4">
                                            No data matching the filter "{{ input.value }}"</mat-cell>
                                    </mat-table>
                                    <!-- Loading spinner -->
                                    <div *ngIf="isLoading" class="tbl-spinner">
                                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                        </mat-progress-spinner>
                                    </div>
                                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 2, 5, 10, 20, 30, 40, 50, 100]"
                                        aria-label="Select page of users"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>