<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <!-- <div class="modalHeader clearfix"> -->
                <!-- <div class="modalHeader clearfix"> -->
                    <div class="modal-about">
                        <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
                           {{title}}
                        </div>
                    </div>
                <!-- </div> -->
            <!-- </div> -->
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form [formGroup]="branchForm" class="m-4">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Name</mat-label>
                <input formControlName="name" matInput required />
                <mat-error *ngIf="branchForm.get('name').hasError('required')">
               Name is required
                </mat-error>
            </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Location</mat-label>
                <input formControlName="location" matInput />
                <mat-error *ngIf="branchForm.get('location').hasError('required')">
                Location is required
                </mat-error>
            </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Address</mat-label>
                <input formControlName="address" matInput required />
                <mat-error *ngIf="branchForm.get('address').hasError('required')">
                    Address is required
                </mat-error>
            </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Email</mat-label>
                <input formControlName="email" matInput />
                <mat-error *ngIf="branchForm.get('email').hasError('required')">
                Email is required
                </mat-error>
            </mat-form-field>
            </div>

            <div class="col-xl-4 col-lg- col-md-12 col-sm-12 mb-3">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Mobile</mat-label>
                <input matInput formControlName="mobile" required />
                <mat-error *ngIf="branchForm.get('mobile').hasError('required')">
                Mobile name is required
                </mat-error>
            </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg- col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>P.O. Box</mat-label>
                    <input matInput formControlName="boxNumber" required />
                    <mat-error *ngIf="branchForm.get('boxNumber').hasError('required')">
                        P.O. Box name is required
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-3">
                <mat-form-field class="example-full-width" appearance="outline">
                    <mat-label>Manager</mat-label>
                    <input matInput formControlName="manager" required />
                    <mat-icon matSuffix (click)="selectManager()">search</mat-icon>
                    <mat-error *ngIf="branchForm.get('manager').hasError('required')">
                    Role is required  </mat-error>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <div class="example-button-row" align="end">
                    <button mat-raised-button color="warn" (click)="onClick()" tabindex="-1">
                        Cancel
                    </button>
                    <button mat-raised-button color="primary" [disabled]="!branchForm.valid" (click)="createBranch()">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        <b>Submit</b>
                    </button>
                </div>
            </div>
        </div>
        </form>
    </div>
</div>
   
  
