<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->         
            <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'">
            </app-breadcrumb>         
        </div>
        <mat-tab-group>
            <mat-tab label="Totals Collections">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="card">

                            <div class="body">
                                <div class="row">

                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="card card-statistic-2">
                                            <div class="clearfix">
                                                <div class="card-right">
                                                    <div>
                                                        <h5 class="float-end"> Milk Received (Ltrs)</h5>
                                                    </div>
                                                    <div class="m-r-10 m-l-10">
                                                        <h3 class="font-weight-bold float-end mb-0">{{milkQuantity | number
                                                            : '1.2-2' }}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-chart">
                                                <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data"
                                                    [labels]="cardChart2Label" [options]="cardChart2" [legend]="true">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="card card-statistic-2">
                                            <div class="clearfix">
                                                <div class="card-right">
                                                    <div>
                                                        <h5 class="float-end"> Milk Dispatched (Ltrs)</h5>
                                                    </div>
                                                    <div class="m-r-10 m-l-10">
                                                        <h3 class="font-weight-bold float-end mb-0">{{milkQuantity | number
                                                            : '1.2-2' }}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-chart">
                                                <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data"
                                                    [labels]="cardChart2Label" [options]="cardChart2" [legend]="true">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="card card-statistic-2">
                                            <div class="clearfix">
                                                <div class="card-right">
                                                    <div>
                                                        <h5 class="float-end">Collections Count</h5>
                                                    </div>
                                                    <div class="m-r-10 m-l-10">
                                                        <h3 class="font-weight-bold float-end mb-0">{{dcount}}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-chart">
                                                <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data"
                                                    [labels]="cardChart2Label" [options]="cardChart2" [legend]="true">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div> -->
                                    <!-- <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
                                        <div class="card card-statistic-2">
                                            <div class="clearfix">
                                                <div class="card-right">
                                                    <div>
                                                        <h5 class="float-end">Amount(KES)</h5>
                                                    </div>
                                                    <div class="m-r-10 m-l-10">
                                                        <h3 class="font-weight-bold float-end mb-0">{{damount | number :'1.2-2'  }}</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card-chart">
                                                <canvas baseChart [chartType]="'line'" [datasets]="cardChart2Data"
                                                    [labels]="cardChart2Label" [options]="cardChart2" [legend]="true">
                                                </canvas>
                                            </div>
                                        </div>
                                    </div>
                                  -->

                                  
                                </div>
                                <!-- <div>
                                    <mat-card>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta rerum neque labore veniam beatae optio vero quae animi eveniet ipsa, vitae nesciunt fugiat blanditiis odit deserunt porro exercitationem omnis? Dolorum.</p>
                                    </mat-card>
                                </div> -->

                                
                                <div class="table-responsive">
                                    <div class="materialTableHeader">
                                        <div class="row">
                                            <div class="col-10">
                                                <ul class="header-buttons-left ms-0">
                                                    <!-- <li class="dropdown">
                                                        <label for="search-input"><i
                                                                class="material-icons search-icon">search</i></label>
                                                        <input placeholder="Search" type="text"
                                                            style="text-transform: capitalize;"
                                                            (keyup)="applyFilter($event)"
                                                            class="browser-default search-field"
                                                            aria-label="Search box" />
                                                    </li> -->
                                                    <li>
                                                        <div class="m-l-10" matTooltip="Add">
                                                            <button mat-mini-fab color="primary" (click)="addCall()">
                                                                <mat-icon class="col-white">add</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div class="m-l-10" matTooltip="Refresh">
                                                            <button mat-mini-fab color="primary" (click)="getData()">
                                                                <mat-icon class="col-white">refresh</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li class="dropdown m-l-5">
                                                        <mat-form-field>
                                                            <mat-label>Filter By </mat-label>
                                                            <mat-select [(value)]="selected"  (selectionChange)="onSelectionChange()">
                                                                <mat-option value="current_date"><b>Today</b></mat-option>
                                                                <mat-option value="all"><b>All</b></mat-option>
                                                                <mat-option value="collectorId"><b>Collector Id</b></mat-option>
                                                                <mat-option value="accumulatorId"><b>Accumulator Id</b></mat-option>
                                                                <mat-option value="sd"><b>Specific Date</b></mat-option>
                                                            </mat-select>
                                                        </mat-form-field>
                                                    </li>
                                                    <li class="dropdown">
                                                        <form [formGroup]="form">
                                                            <mat-form-field class="m-l-5" *ngIf="selected == 'sd'">
                                                                <input matInput [matDatepicker]="picker"
                                                                    (dateChange)="filterByDate()"
                                                                    placeholder="Choose a date" formControlName="date">
                                                                <mat-datepicker-toggle matSuffix
                                                                    [for]="picker"></mat-datepicker-toggle>
                                                                <mat-datepicker #picker></mat-datepicker>
                                                            </mat-form-field>
                                                                <mat-form-field class="m-l-5" *ngIf="selected == 'collectorId'">
                                                                    <mat-label>Select Collector</mat-label>
                                                                    <input matInput formControlName="collectorId"  readonly />                   
                                                                    <mat-icon matSuffix (click)="selectCollector()">search</mat-icon>
                                                                </mat-form-field>
                                                            
                                                                
                                                            <mat-form-field class="m-l-5" *ngIf="selected == 'accumulatorId'">
                                                                <input matInput
                                                                    placeholder="Enter Accumulator Id"
                                                                    formControlName="accumulatorId">
                                                                <mat-icon matSuffix (click)="filterByAccumulatorId()">search
                                                                </mat-icon>
                                                            </mat-form-field>
                                                        </form>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-2">
                                                <ul class="header-buttons">
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                                                exporter.exportTable('xlsx', {
                                                                fileName: 'totalsCollections - '  + currentDate,
                                                                sheet: 'sheet1'
                                                                })" />
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-table #table matTableExporter [dataSource]="dataSource" matSort
                                        class="mat-cell" #exporter="matTableExporter">
                                        <!-- Checkbox Column -->
                                        <ng-container matColumnDef="select">
                                            <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                                    [checked]="selection.hasValue() && isAllSelected()"
                                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                                    [ngClass]="'tbl-checkbox'">
                                                </mat-checkbox>
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                                <mat-checkbox (click)="$event.stopPropagation()"
                                                    (change)="$event ? selection.toggle(row) : null"
                                                    [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                                </mat-checkbox>
                                            </mat-cell>
                                        </ng-container>
                                        <!-- ID Column -->
                                        <ng-container matColumnDef="id">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-wrap tbl-col-width-per-10">Id</mat-header-cell>
                                            <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nonwrap tbl-col-width-per-10">
                                                {{response.id}}
                                            </mat-cell>
                                            </ng-container>
                                            <ng-container matColumnDef="collectorUsername">
                                                <mat-header-cell *matHeaderCellDef mat-sort-header
                                             class="column-nowrap tbl-col-width-per-13"> Collector </mat-header-cell>
                                             <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                             [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                              {{ response.collectorName }}
                                               </mat-cell>
                                              </ng-container>
                                        <ng-container matColumnDef="milkQuantity">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-nowrap tbl-col-width-per-13">MQuantity</mat-header-cell>
                                            <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                                {{response.milkQuantity | number :'1.2-2'}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="session">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-nowrap tbl-col-width-per-13">Session</mat-header-cell>
                                            <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                                {{response.session == "session 1" ? "Morning" : (response.session == "session 2" ? "Afternoon" : "Evening")}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="accumulatorName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                         class="column-nowrap tbl-col-width-per-13">Accumulator </mat-header-cell>
                                         <mat-cell *matCellDef="let item;let i = index" [class.odd-row]="i % 2"
                                         [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                          {{ item.accumulatorName }}
                                           </mat-cell>
                                          </ng-container>
                                        <ng-container matColumnDef="routeName">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                         class="column-nowrap tbl-col-width-per-13">Route</mat-header-cell>
                                         <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                         [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                          {{ response.routeName }}
                                           </mat-cell>
                                          </ng-container>
                                       
                                        <ng-container matColumnDef="collectionDate">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-nowrap">Date
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap">
                                                {{response.collectionDate |date }}
                                            </mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="milkDensity">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-nowrap tbl-col-width-per-13">Density</mat-header-cell>
                                            <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                                {{response.milkDensity | number :'1.2-2'}}
                                            </mat-cell>
                                        </ng-container>
                                        
                                        <ng-container matColumnDef="milkPH">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-nowrap tbl-col-width-per-13">PH</mat-header-cell> 
                                             <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                                {{response.milkPH | number :'1.2-2'}}
                                            </mat-cell>
                                        </ng-container>
                                        
                                         <!-- <ng-container matColumnDef="milkTemperature">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-nowrap tbl-col-width-per-13">Temp</mat-header-cell>
                                            <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                                {{response.milkTemperature | number :'1.2-2'}}
                                            </mat-cell>   -->
                                        <!-- </ng-container>
                                        <ng-container matColumnDef="milkTemperature">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                                class="column-nowrap tbl-col-width-per-13">Temperature</mat-header-cell>
                                            <mat-cell *matCellDef="let response;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-13">
                                                {{response.milkTemperature | number :'1.2-2'}}
                                            </mat-cell>
                                        </ng-container> -->
                                        

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                                        <mat-row *matRowDef="let row; columns: displayedColumns"
                                            [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                        
                                    </mat-table>

                                    <!-- Loading spinner -->
                                    <div *ngIf="isLoading" class="tbl-spinner">
                                        <mat-progress-spinner color="primary" [diameter]="50" mode="indeterminate">
                                        </mat-progress-spinner>
                                    </div>

                                    <div class="tbl-spinner" *ngIf="isdata==false && !isLoading">
                                        <h4>0 Records Found</h4>
                                    </div>

                                    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5"
                                        [pageSizeOptions]="[5, 10, 25, 100,200,500]">
                                    </mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-tab>
            <mat-tab label="Milk Summary Per Route" class="m-3">
                <app-milk-summary></app-milk-summary>
            </mat-tab>
            
            
        </mat-tab-group>
        <!-- <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <app-milk-accumulation></app-milk-accumulation>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
            <app-collectors-totals-per-month></app-collectors-totals-per-month>
          </div>
        </div> -->
    </div>
</section>