<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modalHeader clearfix">
                    <div class="modal-about">
                        <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
                            Sub County Details
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <div class="row">
            <div class="col-6">
                <form class="register-form m-4" [formGroup]="editSubCountyForm">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Sub County Name</mat-label>
                                <input matInput formControlName="name" readonly />
                            </mat-form-field>
                        </div>

                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>County</mat-label>
                                <input matInput formControlName="countyName" readonly />
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-6">
                <div class="row">
                    <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell mb-3"
                        #exporter="matTableExporter">
                        <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">Leader?
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                <mat-radio-button (change)="selectTeamLeader(row)"></mat-radio-button>
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="ward">
                            <mat-header-cell *matHeaderCellDef mat-sort-header >
                                Wards Attached
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" >
                                {{ row.name }}
                            </mat-cell>
                        </ng-container>
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>
                    <mat-paginator #paginator [pageIndex]="0" [pageSize]="3"
                                [pageSizeOptions]="[3,5,7,10,15, 25,50,75, 100]">
                            </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>