<div class="card">
    <div class="header">
      <h2>Daily Milk Collection In Litres Per Route</h2>
    </div>
    <div class="row p-3">
        <form [formGroup]="chartParametersForm" (ngSubmit)="fetchAllCollections()">
          <div class="col-4">
            <mat-form-field class="example-full-width" appearance="legacy">
              <mat-label>Select Date</mat-label>
              <input matInput [matDatepicker]="picker" formControlName="date" 
                     [value]="chartParametersForm.get('date').value | date: 'yyyy-MM-dd'" (dateChange)="onSelectDate()">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>
          
          </form>
          
          <div *ngIf="isLoading; else chartContainer" class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
                
  </div>
  <ng-template #chartContainer>
    <div *ngIf="datesArray.length > 0; else noDataMessage">

    <div class="body" *ngIf="!isLoading">
      <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
        [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
        [responsive]="barChartOptions.responsive" [xaxis]="barChartOptions.xaxis"
        [tooltip]="barChartOptions.tooltip" [legend]="barChartOptions.legend" [fill]="barChartOptions.fill">
      </apx-chart>
    </div>
        </div>
    </ng-template>
    <div *ngIf="isLoading">
      <app-spinner></app-spinner>
     </div>
  </div>