<section class="content">
  <div class="d-flex justify-content-center align-items-center container">
    <div class="row">
      <div class="mt-5">
        <form [formGroup]="purchaseForm" (ngSubmit)="submitProduct()">
          <!-- Customer Name -->
          <div class="row justify-content-center">
            <div class="col-md-6">
              <!-- <mat-form-field class="w-100" appearance="outline">
                  <mat-label>Customer Name (Optional)</mat-label>
                  <input matInput type="text" formControlName="customerName">
                </mat-form-field> -->

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Search Products</mat-label>
                <input
                  matInput
                  type="text"
                  placeholder="Click the search icon"
                  readonly
                />
                <button mat-icon-button matSuffix (click)="fetchProducts()">
                  <mat-icon>search</mat-icon>
                </button>
              </mat-form-field>
            </div>
          </div>

          <!-- Product Search Table with Selection -->
          <div *ngIf="showProductTable" class="content mb-5 content-block">
            <button mat-button (click)="showProductTable = false">
              <mat-icon class="close-icon">close</mat-icon> Close
            </button>
            <div class="mat-elevation-z8">
              <div class="table-responsive">
                <table mat-table [dataSource]="itemspr" class="mat-table">
                  <!-- Selection Column -->
                  <ng-container matColumnDef="select">
                    <th mat-header-cell *matHeaderCellDef>Select</th>
                    <td mat-cell *matCellDef="let item">
                      <mat-checkbox
                        (change)="toggleProductSelection(item, $event.checked)"
                      ></mat-checkbox>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>ID</th>
                    <td mat-cell *matCellDef="let item">{{ item.id }}</td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Name</th>
                    <td mat-cell *matCellDef="let item">{{ item.name }}</td>
                  </ng-container>

                  <ng-container matColumnDef="branch">
                    <th mat-header-cell *matHeaderCellDef>Branch</th>
                    <td mat-cell *matCellDef="let item">
                      {{ item.branch?.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let item">
                      {{ item.regularBuyingPrice || "N/A" }}
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="[
                      'select',
                      'id',
                      'name',
                      'branch',
                      'price'
                    ]"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: ['select', 'id', 'name', 'branch', 'price']
                    "
                  ></tr>
                </table>
              </div>
              <mat-paginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                class="mt-3"
              ></mat-paginator>
            </div>
            <p *ngIf="items.length === 0">No products found.</p>
          </div>

          <!-- Selected Products Table -->
          <div
            *ngIf="selectedProducts.length > 0"
            class="content mb-5 content-block"
          >
            <div class="mat-elevation-z8">
              <div class="table-responsive">
                <table
                  mat-table
                  [dataSource]="selectedProductsDataSource"
                  class="mat-table"
                >
                  <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>Product ID</th>
                    <td mat-cell *matCellDef="let product">{{ product.id }}</td>
                  </ng-container>

                  <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Product Name</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.name }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="branch">
                    <th mat-header-cell *matHeaderCellDef>Branch</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.branch }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="price">
                    <th mat-header-cell *matHeaderCellDef>Price</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.regularBuyingPrice }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="supplier">
                    <th mat-header-cell *matHeaderCellDef>Supplier</th>
                    <td mat-cell *matCellDef="let product">
                      <button
                        mat-button
                        color="primary"
                        type="button"
                        (click)="openSupplierModal(product)"
                      >
                        {{
                          product.supplierName
                            ? product.supplierName
                            : "Select Supplier"
                        }}
                      </button>
                    </td>
                  </ng-container>

                  <!-- Supplier Selection Modal -->
                  <mat-dialog *ngIf="isSupplierModalOpen">
                    <h2>Select Supplier</h2>
                    <mat-form-field appearance="fill">
                      <mat-label>Supplier</mat-label>
                      <mat-select [(value)]="selectedSupplier">
                        <mat-option
                          *ngFor="let supplier of suppliers"
                          [value]="supplier.id"
                        >
                          {{ supplier.supplierName }}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <div class="modal-actions">
                      <button
                        mat-button
                        type="button"
                        (click)="closeSupplierModal()"
                      >
                        Cancel
                      </button>
                      <button
                        mat-raised-button
                        color="primary"
                        type="button"
                        (click)="saveSupplier()"
                      >
                        Save
                      </button>
                    </div>
                  </mat-dialog>

                  <ng-container matColumnDef="quantity">
                    <th mat-header-cell *matHeaderCellDef>Quantity</th>
                    <td mat-cell *matCellDef="let product; let i = index">
                      <mat-form-field appearance="outline" class="w-100">
                        <input
                          matInput
                          type="number"
                          [formControl]="
                            saleOrderLines.controls[i].get('quantity')
                          "
                          (input)="
                            updateSubtotal(product.id, $event.target.value);
                            $event.stopPropagation()
                          "
                          min="1"
                        />
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="subtotal">
                    <th mat-header-cell *matHeaderCellDef>Subtotal</th>
                    <td mat-cell *matCellDef="let product">
                      {{ product.subTotal }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action</th>
                    <td mat-cell *matCellDef="let product; let i = index">
                      <button
                        mat-button
                        color="warn"
                        (click)="removeProduct(i, $event)"
                      >
                        Remove
                      </button>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="[
                      'id',
                      'name',
                      'branch',
                      'price',
                      'supplier',
                      'quantity',
                      'subtotal',
                      'actions'
                    ]"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: [
                        'id',
                        'name',
                        'branch',
                        'price',
                        'supplier',
                        'quantity',
                        'subtotal',
                        'actions'
                      ]
                    "
                  ></tr>
                </table>
              </div>
              <mat-paginator
                #selectedProductsPaginator
                [pageSizeOptions]="[5, 10, 20]"
                showFirstLastButtons
                class="mt-3"
              ></mat-paginator>
            </div>
          </div>
          <!-- Add this section below the closing div tag of the table -->
          <div
            *ngIf="selectedProducts.length > 0"
            class="d-flex justify-content-between align-items-center mt-3"
          >
            <!-- Left Section: 70% Width -->
            <div class="w-70">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Total Amount</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="totalAmount"
                  readonly
                />
              </mat-form-field>
            </div>

            <!-- Right Section: 30% Width -->
            <div class="w-30 ml-2">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Total Amount (Post to DB)</mat-label>
                <input
                  matInput
                  type="number"
                  formControlName="totalAmountPost"
                  readonly
                />
              </mat-form-field>
            </div>
          </div>

          <!-- Submit Button Disabled If No Products Selected -->
          <div class="justify-content-center d-flex mt-3">
            <button
              mat-raised-button
              color="primary"
              type="submit"
              [disabled]="selectedProducts.length === 0"
            >
              Submit Sale
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
