<div class="row">
    <div class="col-lg-3 col-sm-6" (click)="viewInactiveUserAccounts()">
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Stock Value</h4>
          <h2 class="text-end">
            <span class="float-start">{{ totalAccounts }}</span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-3 col-sm-6" (click)="viewActiveAccounts()">
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Opening Stock </h4>
          <h2 class="text-end">
            <span class="float-start">{{ activeAccounts }}</span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" (click)="viewLockedAccounts()">
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Closing Stock</h4>
          <h2 class="text-end">
            <span class="float-start">{{ lockedAccounts }}</span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6" (click)="viewdeletedAccounts()">
      <div class="info-box7 bg-c-brown order-info-box7">
        <div class="info-box7-block">
          <h4 class="m-b-20">Sold Stock</h4>
          <h2 class="text-end">
            <span class="float-start">{{ deletedAccounts }}</span><i class="fas fa-users"></i>
          </h2>
          <p class="m-b-0">Click for more details!</p>
        </div>
      </div>
    </div>
  </div>