<div class="card">
  <div class="header">
    <h2>Collector's Milk Collection In Litres</h2>
  </div>
  <div class="row p-3">
    <form [formGroup]="chartParametersForm">
      <div class="row mx-3">
        <div class="col-4">
          <mat-form-field appearance="legacy">
            <mat-label>Select year</mat-label>
            <mat-select (selectionChange)="onSelectYear($event)" formControlName="year">
              <mat-option *ngFor="let item of chartDispType" [value]="item">{{ item }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-4">
          <mat-form-field appearance="legacy">
            <mat-label>Select month</mat-label>
            <mat-select (selectionChange)="onSelectMonth($event)" formControlName="month">
              <mat-option *ngFor="let item of monthsArray" [value]="item.value">{{ item.name }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </form>
</div>
  <div class="body" *ngIf="!isLoading">
    <apx-chart [series]="barChartOptions.series" 
      [chart]="barChartOptions.chart"
      [dataLabels]="barChartOptions.dataLabels" 
      [plotOptions]="barChartOptions.plotOptions"
      [responsive]="barChartOptions.responsive" [xaxis]="barChartOptions.xaxis"
      [tooltip]="barChartOptions.tooltip" 
      [legend]="barChartOptions.legend" [fill]="barChartOptions.fill">
    </apx-chart>
  </div>
  <div *ngIf="isLoading">
    <app-spinner></app-spinner>
   </div>
</div>