<nav #navbar class="navbar active">
  <div class="container-fluid bg wbg">


    <div>
      <a href="#" onClick="return false;" class="navbar-toggle collapsed"
        (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-expanded="false"></a>
      <a href="#" onClick="return false;" class="bars" (click)="mobileMenuSidebarOpen($event,'overlay-open')"></a>
      </div>

    <div class="collapse navbar-collapse" [ngbCollapse]="isNavbarCollapsed">
      <ul class="float-start">
        <li>
          <button mat-icon-button (click)="callSidemenuCollapse()" class="sidemenu-collapse">
            <app-feather-icons [icon]="'menu'" [class]="'header-icon fg1'"></app-feather-icons>
          </button>
        </li>
      </ul>


      <ul class="float-start">
        <li>
          <a class="navbar-brand" routerLink={{homePage}}>
            <img src="assets/images/emlg.pngs" width="40px" height="40px" alt="logo" />
          </a>
        </li>
      </ul>
    
      


      <ul class="nav navbar-nav navbar-right">
        <li class="nav-notification-icons pt-0 mr-2 header-icon">
          <span>Welcome, <b>{{ userName }}</b></span>
        </li>

        <li>
          <button mat-icon-button (click)="toSMSManagement()" class="nav-notification-icons" matTooltip="Manage SMS">
            <app-feather-icons [icon]="'message-square'" [class]="'header-icon'"></app-feather-icons>
          </button>
        </li>

        <!-- Full Screen Button -->
        <li class="fullscreen">
          <button mat-icon-button (click)="callFullscreen()" class="nav-notification-icons" matTooltip="Fullscreen">
            <app-feather-icons [icon]="'maximize'" [class]="'header-icon'"></app-feather-icons>
          </button>
        </li>

        <li class="nav-item user_profile btnUserDropdown" ngbDropdown>
          <div class="chip dropdown-toggle" ngbDropdownToggle class="nav-notification-icons pt-0">
            <button mat-icon-button>
              <app-feather-icons [icon]="'more-vertical'" [class]="'header-icon'"></app-feather-icons>
            </button>
            <div ngbDropdownMenu class="notification-dropdown pullDown">
              <div class="noti-list" style="position: relative; max-width: 600px; max-height: 300px;"
                [perfectScrollbar]>
                <ul class="menu">
                  <li class="body">
                    <ul class="user_dw_menu">
                      <li>
                        <a href="javascript:void(0);" (click)="toProfile()">
                          <app-feather-icons [icon]="'user'" [class]="'user-menu-icons'"></app-feather-icons>Account
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="toSettings()">
                          <app-feather-icons [icon]="'settings'"
                            [class]="'user-menu-icons'"></app-feather-icons>Settings
                        </a>
                      </li>
                      <li>
                        <a href="javascript:void(0);" (click)="logout()">
                          <app-feather-icons [icon]="'log-out'" [class]="'user-menu-icons'"></app-feather-icons>Logout
                        </a>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </li>

        <!-- #END# Tasks -->
      </ul>
    </div>
  </div>
</nav>