<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'All Salesperson'" [items]="['Salesperson']" [active_item]="'Salesperson'">
            </app-breadcrumb>
        </div>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    Create Invoice
                </ng-template>
                <app-create-invoice></app-create-invoice>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
