.delete-dialog {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    border-top: 4px solid black;
}

.title {
    padding-top: 8px;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: left;
}

.close-button {
    margin-right: 8px;
}

.dialog-actions {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.cancel-button {
    margin-right: 8px;
}

@media (max-width: 600) {
    .delete-dialog {
        justify-content: space-between;
    }
}