<div class="content-block">
    <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="modalHeader">
                <div class="contact-details-name mb-2 mt-1">Customer Details</div>
                <button mat-icon-button class="contact-details-name mb-2 mt-1" (click)="dialogRef.close()"
                    aria-label="Close dialog">
                    <mat-icon>close</mat-icon>
                </button>
            </div>
            <div class="card">
                <div class="body">
                    <div class="card">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <p class="mt-3 ms-3 ml-3">Account Details For <b> {{customerName}}.</b>
                                </p>
                                <p class="mt-3 ms-3 ml-3">Account Created On <b>{{data.customer.createdAt | date}}</b>
                                </p>
                                <p class="mt-3 ms-3 ml-3">Account Status? <b>{{data.customer.status}}</b></p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <p class="mt-3 ms-3 ml-3">Customer No. <b>{{data.customer.customerNO}}</b></p>
                                <p class="mt-3 ms-3 ml-3">Account Deleted? <b>{{data.customer.deleteFlag}}</b></p>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                
                            </div>
                        </div>
                    </div>
                    <form [formGroup]="customerForm" class="m-4">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-0" appearance="outline">
                                    <mat-label>First name</mat-label>
                                    <input formControlName="firstname" readonly matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-0" appearance="outline">
                                    <mat-label>Last name</mat-label>
                                    <input formControlName="lastname" matInput readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-0" appearance="outline">
                                    <mat-label>Route</mat-label>
                                    <input formControlName="route" readonly matInput />
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-0" appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <input matInput formControlName="address" readonly />
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg- col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-0" appearance="outline">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput formControlName="contact" readonly />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                                <button mat-raised-button color="warn" mat-button (click)=" onCancel()" tabindex="-2">
                                    <b>CANCEL</b>
                                </button>
                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>