<section class="content mb-5 mt-5">
   <mat-card class="mt-5 pt-5">
    <form [formGroup]="salesItemForm" (ngSubmit)="onSubmit()" class="p-4 border rounded bg-light shadow-sm">

      <div class="row mb-3">
        <div class="col-md-6">
          <label for="itemId" class="form-label">Item ID</label>
          <input id="itemId" type="number" formControlName="itemId" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="itemId" class="form-label">Client ID</label>
          <input id="itemId" type="number" formControlName="clientId" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="itemName" class="form-label">Item Name</label>
          <input id="itemName" type="text" formControlName="itemName" class="form-control">
        </div>
      </div>
    
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="itemBrand" class="form-label">Item Brand</label>
          <input id="itemBrand" type="text" formControlName="itemBrand" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="quantity" class="form-label">Quantity</label>
          <input id="quantity" type="number" formControlName="quantity" class="form-control">
        </div>
      </div>
    
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="price" class="form-label">Price</label>
          <input id="price" type="number" step="0.01" formControlName="price" class="form-control">
        </div>
        <div class="col-md-6">
          <label for="discount" class="form-label">Discount</label>
          <input id="discount" type="number" step="0.01" formControlName="discount" class="form-control">
        </div>
      </div>
    
      <div class="row mb-3">
        <div class="col-md-6">
          <label for="storeId" class="form-label">Store ID</label>
          <input id="storeId" type="number" formControlName="storeId" class="form-control">
        </div>
      </div>
    
      <button type="submit" class="btn btn-primary mt-5">Submit</button>
    </form>
    
   </mat-card>
  </section>
  