<style>
  .card-container {
    width: 800px; /* Adjust the width as needed */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }

  .card-content {
    padding: 16px;
  }

  .mat-elevation-z8 {
    border-spacing: 0;
    width: 100%;
    border-collapse: collapse;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }

  .column-spacing {
    padding: 12px;
    text-align: left;
  }
</style>

<div class="materialTableHeader">
  <div class="row">
      <div class="col-10">
          <ul class="header-buttons-left ms-0">
            <li class="dropdown m-l-5">
                  <mat-form-field>
                      <mat-label>Filter By </mat-label>
                      <mat-select [(value)]="selected"  (selectionChange)="onSelectionChange()">
                          <mat-option value="current_date"><b>Today</b></mat-option>
                          <mat-option value="sd"><b>Specific Date</b></mat-option>
                      </mat-select>
                  </mat-form-field>
              </li>
              <li class="dropdown">
                  <form [formGroup]="form">
                      <mat-form-field class="m-l-5" *ngIf="selected == 'sd'">
                          <input matInput [matDatepicker]="picker"
                              (dateChange)="filterByDate()"
                              placeholder="Choose a date" formControlName="date">
                          <mat-datepicker-toggle matSuffix
                              [for]="picker"></mat-datepicker-toggle>
                          <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </form>
              </li>
          </ul>
      </div>
      <!-- <div class="col-2">
          <ul class="header-buttons">
              <li>
                  <div class="export-button m-l-10" matTooltip="XLSX">
                      <img src="assets/images/icons/xlsx.png" alt="" (click)="
                          exporter.exportTable('xlsx', {
                          fileName: 'totalsCollections - '  + currentDate,
                          sheet: 'sheet1'
                          })" />
                  </div>
              </li>
          </ul>
      </div> -->
  </div>
</div>

<div class="card-container">
  <form class="card-content">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="route">
        <th mat-header-cell *matHeaderCellDef class="column-spacing"> Route Name </th>
        <td mat-cell *matCellDef="let row" class="column-spacing"> {{row.route}} </td>
      </ng-container>
  
      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef class="column-spacing"> Total Milk Received </th>
        <td mat-cell *matCellDef="let row" class="column-spacing"> {{row.quantity}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </form>
</div>
