
<div class="scrollable-dialog">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="fuelPurchaseForm">
       <ng-template matStepLabel>Vehicle Information</ng-template>
        <div [formGroup]="vehicleForm" class="row">
          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Vendor</mat-label>
                <mat-select formControlName="vendor" required>
                  <mat-option *ngFor="let vendor of vendors" [value]="vendor">
                      {{vendor}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="vehicleForm.get('vendor').hasError('required')">
                    Vendoris required
                </mat-error>
            </mat-form-field>
          </div>

         <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Transporter</mat-label>
                <mat-select formControlName="transporter" required>
                    <mat-option *ngFor="let transporter of transporters" [value]="transporter">
                      {{transporter}}
                    </mat-option>
                  </mat-select>
                <mat-error *ngIf="vehicleForm.get('transporter').hasError('required')">
                    Vehicle Type is required
                </mat-error>
            </mat-form-field>
         </div>

          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width" appearance="outline">
                <mat-label>Registration</mat-label>
                  <input matInput formControlName="registration" required />
                    <mat-error *ngIf="vehicleForm.get('registration').hasError('required')">
                      Registration is required
                  </mat-error>
              </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Driver Name</mat-label>
               <input matInput formControlName="driver" required />
                <mat-error *ngIf="vehicleForm.get('driver').hasError('required')">
                Driver Name is required
                </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Driver Contact</mat-label>
              <input matInput formControlName="driverContact" required />
              <mat-error *ngIf="vehicleForm.get('driverContact').hasError('required')">
                Driver Contact is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Invoice Number</mat-label>
              <input matInput formControlName="invoiceNo" required />
              <mat-error *ngIf="vehicleForm.get('invoiceNo').hasError('required')">
                Invoice Number is required
              </mat-error>
            </mat-form-field>
          </div>

          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 d-flex justify-content-end">
            <button mat-raised-button matStepperNext color="primary">
              Next
          </button>
        </div>
      </div>
    </mat-step>

    <mat-step [stepControl]="fuelPurchaseForm">
      <ng-template matStepLabel>Purchase Details </ng-template>
      
      <div [formGroup]="fuelPurchaseForm" class="row">
        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Select Product</mat-label>
              <mat-select formControlName="product" required>
                  <mat-option *ngFor="let product of products" [value]="product">
                    {{product}}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="fuelPurchaseForm.get('product').hasError('required')">
                Product is required
              </mat-error>
          </mat-form-field>
        </div>

       <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
              <mat-label>Select Tank</mat-label>
              <mat-select formControlName="tank" required>
                  <mat-option *ngFor="let tank of tanks" [value]="tank">
                    {{tank}}
                  </mat-option>
                </mat-select>
              <mat-error *ngIf="fuelPurchaseForm.get('tank').hasError('required')">
                  Vehicle Type is required
              </mat-error>
          </mat-form-field>
       </div>

      <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Intial Tank Reading</mat-label>
            <input matInput formControlName="intialReading" required />
            <mat-error *ngIf="fuelPurchaseForm.get('intialReading').hasError('required')">
              Intial Reading is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Quantity Dispersed</mat-label>
            <input matInput formControlName="quantityDispersed" required />
            <mat-error *ngIf="fuelPurchaseForm.get('quantityDispersed').hasError('required')">
              Quantity Dispersed is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Current Tank Reading</mat-label>
            <input matInput formControlName="currentReading" required />
            <mat-error *ngIf="fuelPurchaseForm.get('currentReading').hasError('required')">
              Current Reading is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Amount (ksh)</mat-label>
            <input matInput formControlName="amount" required />
            <mat-error *ngIf="fuelPurchaseForm.get('amount').hasError('required')">
              Amount is required
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-xl-4 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Deviation in Litres</mat-label>
            <input matInput formControlName="deviation" required />
            <mat-error *ngIf="fuelPurchaseForm.get('deviation').hasError('required')">
              Deviation is required
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 d-flex justify-content-end">
          <button mat-raised-button color="primary" (click)="addPurchase()">
            Add Purchase
          </button>
        </div>
      
        <div class="card">
          <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="boxs mail_listing">
              <div class="row">
                <div class="body">
                  <div class="table-responsive">
                    <div class="materialTableHeader mt-3">
                       <div class="row">
                          <li class="dropdown">
                           <h2>Products</h2>  
                          </li>
                      </div>
                    </div>

                    <mat-table #table matTableExporter [dataSource]="productDataSource" matSort
                        class="mat-cell" #exporter="matTableExporter">
                        <ng-container matColumnDef="index">
                            <mat-header-cell *matHeaderCellDef mat-sort-header
                                class="psl-3 tbl-col-width-per-35">Id</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index"
                                class="psl-3 tbl-col-width-per-35">{{
                                i + 1 }}</mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="product">
                          <mat-header-cell *matHeaderCellDef> Product </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.product }} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="tank">
                          <mat-header-cell *matHeaderCellDef> Tank </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.tank }} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="intialReading">
                          <mat-header-cell *matHeaderCellDef> Initial Reading </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.intialReading }} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="quantityDispersed">
                          <mat-header-cell *matHeaderCellDef> Quantity Dispersed </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.quantityDispersed }} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="currentReading">
                          <mat-header-cell *matHeaderCellDef> Current Reading </mat-header-cell>
                          <mat-cell *matCellDef="let row"> {{ row.currentReading }} </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="actions">
                          <mat-header-cell class="column-nowrap psl-3 tbl-col-width-per-80" *matHeaderCellDef>Actions</mat-header-cell>
                            <mat-cell *matCellDef="let row; let i = index" class="column-nowrap psl-3 tbl-col-width-per-80">
                                <button mat-icon-button color="accent" (click)="$event.stopPropagation()" (click)="removeItem(i)" class="tbl-action-btn">
                                    <app-feather-icons [icon]="'trash-2'" [class]="'tbl-fav-delete'"></app-feather-icons>     
                                </button>
                            </mat-cell>
                        </ng-container>
                        <mat-header-row
                            *matHeaderRowDef="productDisplayedColumns">
                        </mat-header-row>

                        <mat-row
                            *matRowDef="let row; let i = index; columns: productDisplayedColumns" [class.odd-row]="i % 2"
                            [class.even-row]="!(i % 2)"   [style.cursor]="'pointer'" matRipple>
                        </mat-row>                               
                    </mat-table>
                            <!-- <div *ngIf="productNotAdded">
                                <p class="p-3">
                                    No item selected yet
                                </p>
                            </div> -->
                    <mat-paginator [pageSize]="2" #collectorsPaginator="matPaginator"
                    [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]" aria-label="Select page of users">
                    </mat-paginator>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 d-flex justify-content-end">
        <button mat-raised-button matStepperNext color="primary">
          Next
       </button>
      </div>
      </div>
    </mat-step> 

    <mat-step [stepControl]="fuelPurchaseForm">
      <ng-template matStepLabel>Purchase Confirmation</ng-template>
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <p>Confirm Details and Submit</p>
            </div>  
          <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <div class="example-button-row" align="end">
                <button mat-raised-button color="primary" (click)="onSubmit()" >
                  <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>  <!-- [disabled]="!fuelPurchaseForm.valid" -->
                  <b>Submit</b>
                </button>
              </div>
            </div> 
          </div>
        </div>
    </mat-step> 
    </mat-horizontal-stepper>
  </div>
</div>
          
      


 