<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <form [formGroup]="pickupLocationForm" class="mx-4">
            <mat-step [stepControl]="pickupLocationForm">
                <ng-template matStepLabel>General Details</ng-template>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-1" appearance="outline">
                            <mat-label>Route name </mat-label>
                            <input formControlName="route" matInput />
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-1" appearance="outline">
                            <mat-label>Route Code </mat-label>
                            <input formControlName="routeCode" matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-3">
                        <mat-form-field class="example-full-width mb-1" appearance="outline">
                            <mat-label>Collection center land mark</mat-label>
                            <input formControlName="landMark" matInput />
                        </mat-form-field>
                    </div>
                </div>
                <div>
                    <button mat-raised-button (click)="dialogRef.close()" color="warn"  class="msr-2">
                        Cancel
                    </button>
                    <button mat-raised-button matStepperNext color="primary">
                        Next
                    </button>
                </div>
            </mat-step>

            <!-- main collectors edit -->
            <mat-step>
                <ng-template matStepLabel>Collection Center Collectors</ng-template>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="list-group list-group-flush">
                            <div>
                                <div class="row">
                                    <form [formGroup]="collectorsForm" class="mx-4">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                            <button style="margin-bottom: 10px"
                                                type="button" (click)="milkCollectorsLookup()" mat-raised-button
                                                color="primary" class="mb-3">
                                                Lookup Collectors
                                            </button>
                                        </div>

                                        <div class="card">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="boxs mail_listing">
                                                    <div class="row">
                                                        <div class="body">
                                                            <div class="table-responsive">
                                                                <div class="materialTableHeader mt-3">
                                                                    <div class="row">
                                                                        <div class="col-8">
                                                                            <ul class="header-buttons-left ms-0">
                                                                                <li class="dropdown">
                                                                                    <h2>Milk Collectors
                                                                                    </h2>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <mat-table #table matTableExporter
                                                                    [dataSource]="collectorsDataSource" matSort
                                                                    class="mat-cell" #exporter="matTableExporter">
                                                                    <ng-container matColumnDef="index">
                                                                        <mat-header-cell *matHeaderCellDef
                                                                            mat-sort-header
                                                                            class="psl-3 tbl-col-width-per-35">Id</mat-header-cell>
                                                                        <mat-cell *matCellDef="let row; let i = index"
                                                                            class="psl-3 tbl-col-width-per-35">{{
                                                                            i + 1 }}</mat-cell>
                                                                    </ng-container>
                                                                    <ng-container matColumnDef="type">
                                                                        <mat-header-cell *matHeaderCellDef
                                                                            mat-sort-header
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80">Type</mat-header-cell>
                                                                        <mat-cell *matCellDef="let row"
                                                                            (click)="onSelect(row)"
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80">
                                                                            {{ row.username }}
                                                                        </mat-cell>
                                                                    </ng-container>
                                                                    <ng-container matColumnDef="actions">
                                                                        <mat-header-cell
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80"
                                                                            *matHeaderCellDef>Actions</mat-header-cell>
                                                                        <mat-cell *matCellDef="let row; let i = index"
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80">
                                                                            <!-- <button mat-icon-button color="accent"
                                                                                (click)="$event.stopPropagation()"
                                                                                (click)="updateAttendeeCall(i, row)"
                                                                                class="tbl-action-btn">
                                                                                <app-feather-icons [icon]="'edit'"
                                                                                    [class]="'tbl-fav-edit'"></app-feather-icons>
                                                                            </button> -->
                                                                            <button mat-icon-button color="accent"
                                                                                (click)="$event.stopPropagation()"
                                                                                (click)="removeCollector(i)"
                                                                                class="tbl-action-btn">
                                                                                <app-feather-icons [icon]="'trash-2'"
                                                                                    [class]="'tbl-fav-delete'"></app-feather-icons>
                                                                            </button>
                                                                        </mat-cell>
                                                                    </ng-container>
                                                                    <mat-header-row
                                                                        *matHeaderRowDef="collectorsDisplayedColumns">
                                                                    </mat-header-row>

                                                                    <mat-row
                                                                        *matRowDef="let row; let i = index; columns: collectorsDisplayedColumns"
                                                                        [class.odd-row]="i % 2"
                                                                        [class.even-row]="!(i % 2)"
                                                                        [style.cursor]="'pointer'" matRipple>
                                                                    </mat-row>
                                                                    <mat-cell *matNoDataRow colspan="4">
                                                                        No data matching the filter "{{
                                                                        input.value
                                                                        }}"</mat-cell>
                                                                </mat-table>
                                                                <div *ngIf="collectorsNotAdded">
                                                                    <p class="p-3">
                                                                        No collectors added yet
                                                                    </p>
                                                                </div>
                                                                <mat-paginator [pageSize]="2"
                                                                    #collectorsPaginator="matPaginator"
                                                                    [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]"
                                                                    aria-label="Select page of users"></mat-paginator>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-raised-button matStepperPrevious color="accent" class="msr-2">
                        Back
                    </button>
                    <button mat-raised-button (click)="dialogRef.close()" color="warn"  class="msr-2">
                        Cancel
                    </button>
                    <button [disabled]="collectorsNotAdded" mat-raised-button matStepperNext color="primary">
                        Next
                    </button>
                </div>
            </mat-step>

            <!-- sub collectors edit -->

            <mat-step>
                <ng-template matStepLabel>Route Sub Collectors</ng-template>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="list-group list-group-flush">
                            <div>
                                <div class="row">
                                    <form [formGroup]="subCollectorsForm" class="mx-4">
                                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                                            <button style="margin-bottom: 10px"
                                                type="button" (click)="subCollectorsLookup()" mat-raised-button
                                                color="primary" class="mb-3">
                                                Lookup Sub Collectors
                                            </button>
                                        </div>

                                        <div class="card">
                                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                                <div class="boxs mail_listing">
                                                    <div class="row">
                                                        <div class="body">
                                                            <div class="table-responsive">
                                                                <div class="materialTableHeader mt-3">
                                                                    <div class="row">
                                                                        <div class="col-8">
                                                                            <ul class="header-buttons-left ms-0">
                                                                                <li class="dropdown">
                                                                                    <h2>Milk Sub Collectors
                                                                                    </h2>
                                                                                </li>
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <mat-table #table matTableExporter
                                                                    [dataSource]="subCollectorsDataSource" matSort
                                                                    class="mat-cell" #exporter="matTableExporter">
                                                                    <ng-container matColumnDef="index">
                                                                        <mat-header-cell *matHeaderCellDef
                                                                            mat-sort-header
                                                                            class="psl-3 tbl-col-width-per-35">Id</mat-header-cell>
                                                                        <mat-cell *matCellDef="let row; let i = index"
                                                                            class="psl-3 tbl-col-width-per-35">{{
                                                                            i + 1 }}</mat-cell>
                                                                    </ng-container>
                                                                    <ng-container matColumnDef="username">
                                                                        <mat-header-cell *matHeaderCellDef
                                                                            mat-sort-header
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80">Username</mat-header-cell>
                                                                        <mat-cell *matCellDef="let row"
                                                                            (click)="onSelect(row)"
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80">
                                                                            {{ row.username }}
                                                                        </mat-cell>
                                                                    </ng-container>
                                                                    <ng-container matColumnDef="actions">
                                                                        <mat-header-cell
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80"
                                                                            *matHeaderCellDef>Actions</mat-header-cell>
                                                                        <mat-cell *matCellDef="let row; let i = index"
                                                                            class="column-nowrap psl-3 tbl-col-width-per-80">
                                                                            <!-- <button mat-icon-button color="accent"
                                                                                (click)="$event.stopPropagation()"
                                                                                (click)="updateAttendeeCall(i, row)"
                                                                                class="tbl-action-btn">
                                                                                <app-feather-icons [icon]="'edit'"
                                                                                    [class]="'tbl-fav-edit'"></app-feather-icons>
                                                                            </button> -->
                                                                            <button mat-icon-button color="accent"
                                                                                (click)="$event.stopPropagation()"
                                                                                (click)="removeSubCollector(i)"
                                                                                class="tbl-action-btn">
                                                                                <app-feather-icons [icon]="'trash-2'"
                                                                                    [class]="'tbl-fav-delete'"></app-feather-icons>
                                                                            </button>
                                                                        </mat-cell>
                                                                    </ng-container>
                                                                    <mat-header-row
                                                                        *matHeaderRowDef="subCollectorsDisplayedColumns">
                                                                    </mat-header-row>

                                                                    <mat-row
                                                                        *matRowDef="let row; let i = index; columns: subCollectorsDisplayedColumns"
                                                                        [class.odd-row]="i % 2"
                                                                        [class.even-row]="!(i % 2)"
                                                                        [style.cursor]="'pointer'" matRipple>
                                                                    </mat-row>
                                                                    <mat-cell *matNoDataRow colspan="4">
                                                                        No data matching the filter "{{
                                                                        input.value
                                                                        }}"</mat-cell>
                                                                </mat-table>
                                                                <div *ngIf="subCollectorsNotAdded">
                                                                    <p class="p-3">
                                                                        No sub collectors added yet
                                                                    </p>
                                                                </div>
                                                                <mat-paginator [pageSize]="2"
                                                                    #subCollectorsPaginator="matPaginator"
                                                                    [pageSizeOptions]="[2, 5, 10, 20, 30, 40, 50, 100]"
                                                                    aria-label="Select page of users"></mat-paginator>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div>
                    <button mat-raised-button matStepperPrevious color="accent" class="msr-2">
                        Back
                    </button>
                    <button mat-raised-button (click)="dialogRef.close()" color="warn"  class="msr-2">
                        Cancel
                    </button>
                    <button [disabled]="collectorsNotAdded" mat-raised-button matStepperNext color="primary">
                        Next
                    </button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Done</ng-template>
                <p>You are now done.</p>
                <div>
                    <button mat-raised-button (click)="dialogRef.close()" color="warn"  class="msr-2">
                        Cancel
                    </button>
                    <button mat-raised-button matStepperPrevious color="accent" class="msr-2">
                        Back
                    </button>
                    <button mat-raised-button color="primary" [disabled]="btnLoading || collectorsNotAdded"
                        [class.auth-spinner]="btnLoading" (click)="updateRouteDetails()">
                        Submit
                    </button>
                </div>
            </mat-step>
        </form>
    </mat-horizontal-stepper>
</div>