<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modalHeader clearfix">
                    <div class="modal-about">
                        <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
                            Add Product
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="productForm">
            <div class="row">
                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Name</mat-label>
                      <input matInput formControlName="name" required />
                      <mat-error *ngIf="productForm.get('name').hasError('required')">
                        Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Category</mat-label>
                        <mat-select formControlName="category" required>
                            <mat-option *ngFor="let category of categories" [value]="category">
                              {{ department.name}}
                            </mat-option>
                          </mat-select>
                        <mat-error *ngIf="productForm.get('category').hasError('required')">
                            Category is required
                        </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Department</mat-label>
                        <mat-select formControlName="department" required>
                            <mat-option *ngFor="let department of departments" [value]="department">
                              {{ department.name}}
                            </mat-option>
                          </mat-select>
                        <mat-error *ngIf="productForm.get('department').hasError('required')">
                            Department is required
                        </mat-error>
                    </mat-form-field>
                  </div>

                <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Location</mat-label>
                        <mat-select formControlName="location" required>
                            <mat-option *ngFor="let location of locations" [value]="location">
                              {{ location.name}}
                            </mat-option>
                          </mat-select>
                        <mat-error *ngIf="productForm.get('location').hasError('required')">
                            Location is required
                        </mat-error>
                    </mat-form-field>
                </div>
                
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="example-button-row" align="end">
                            <button mat-raised-button color="warn" (click)="onClick()" tabindex="-1">
                                Cancel
                            </button>
                            <button mat-raised-button color="primary" [disabled]="!productForm.valid"
                                (click)="onSubmit()">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                <b>Submit</b>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

