<div class="row">
    <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <!-- table header -->
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-10">
                                <!-- table action bar -->
                                <ul class="header-buttons-left ms-0">
                                    <li class="dropdown">
                                        <h2>Warehouses</h2>
                                    </li>

                                    <li class="dropdown m-l-20">
                                        <label for="search-input">
                                            <i class="material-icons search-icon">search</i>
                                        </label>
                                        <input placeholder="Search" style="text-transform: capitalize;" class="browser-default search-field" aria-label="Search box" (keyup)="search($event)">
                                    </li>

                                    <li class="dropdown m-l-5">
                                        <mat-form-field>
                                            <mat-label>Filter By</mat-label>
                                            <mat-select [(ngModel)]="selected" (ngModelChange)="onSelectionChange()">
                                                <mat-option value="whseName"><b>Warehouse Code</b></mat-option>
                                                <mat-option value="dateRange"><b>Date Range</b></mat-option>
                                                <mat-option value="all"><b>Warehouse Code & Date Range</b></mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </li>

                                    <li>
                                        <div class="m-l-10" matTooltip="Refresh">
                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-2">
                                <ul class="header-buttons">
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="
                        exporter.exportTable('xlsx', {
                          fileName: 'all-counties',
                          sheet: 'sheet1'
                        })
                      " />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="CSV">
                                            <img src="assets/images/icons/csv.png" alt=""
                                                (click)="exporter.exportTable('csv')" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>

                    <!-- Filter Input Section -->
                    <div *ngIf="selected" class="row filter-input-section" style="margin-top: 10px;">
                        <form [formGroup]="form">
                            <mat-form-field class="m-l-5" *ngIf="selected === 'dateRange'">
                                <mat-date-range-input [rangePicker]="picker" (dateChange)="filterByDate()">
                                    <input matStartDate formControlName="startDate" placeholder="Start date" (dateChange)="filterByDate()">                        <input 
                                        matEndDate 
                                        formControlName="endDate" 
                                        placeholder="End date" 
                                        (dateChange)="filterByDate()">
                                </mat-date-range-input>
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-date-range-picker #picker></mat-date-range-picker>
                            </mat-form-field>
                    
                            <mat-form-field class="m-l-5" *ngIf="selected === 'whseName'">
                                <mat-label>Select Warehouse</mat-label>
                                <input matInput formControlName="whseName" readonly />
                                <mat-icon matSuffix (click)="selectWarehouse()">search</mat-icon>
                            </mat-form-field>
                            
                            <div *ngIf="selected === 'all'" class="m-l-5">
                           
                                <mat-form-field class="m-l-5">
                                    <mat-label>Select Date Range</mat-label>
                                    <mat-date-range-input [rangePicker]="combinedPicker">
                                        <input 
                                            matStartDate 
                                            formControlName="combinedStartDate" 
                                            placeholder="Start date">
                                        <input 
                                            matEndDate 
                                            formControlName="combinedEndDate" 
                                            placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="combinedPicker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #combinedPicker></mat-date-range-picker>
                                </mat-form-field>
                            
                                <!-- Warehouse Selector -->
                                <mat-form-field class="m-l-5">
                                    <mat-label>Select Warehouse</mat-label>
                                    <input 
                                        matInput 
                                        formControlName="combinedWhseName" 
                                        readonly/>
                                    <mat-icon matSuffix (click)="openWarehouseLookup()">search</mat-icon> <!-- Corrected click event -->
                                </mat-form-field>
                            </div>
                            
                        </form>
                    </div>
                    

                     <!-- table content -->
                      <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell" #exporter="matTableExporter">
                        <ng-container matColumnDef="id">
                            <mat-header-cell class="table-img tbl-col-width-per-6" *matHeaderCellDef
                                mat-sort-header>#</mat-header-cell>
                            <mat-cell class="table-img tbl-col-width-per-6"
                                *matCellDef="let element; let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)">{{i + 1}}</mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="skuCode">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">sku Code</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-10">
                                {{wh.skuCode}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="item">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">Item</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-10">
                                {{wh.item}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="fromWhse">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-12">From Whse</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-wrap tbl-col-width-per-12">
                                {{wh.fromWhse}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="toWhse">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-12">To Whse</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-12">
                                {{wh.toWhse}}
                            </mat-cell>
                        </ng-container>      
                        
                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-12">Description</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="table-img tbl-col-width-per-12">
                                {{wh.description}}
                            </mat-cell>
                        </ng-container>  

                        <ng-container matColumnDef="quantity">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-12">Count</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-wrap tbl-col-width-per-12">
                                {{wh.quantity}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="movedBy">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-12">Moved By</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-wrap tbl-col-width-per-12">
                                {{wh.movedBy}}
                            </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="createdOn">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Created On</mat-header-cell>
                            <mat-cell *matCellDef="let wh;let i=index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)">
                                {{wh.createdOn | date}}
                            </mat-cell>
                        </ng-container>
                        
                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let wh; columns: displayedColumns" [style.cursor]="'pointer'" matRipple></mat-row>
                      </mat-table>

                      <!-- Loading spinner -->
                      <div *ngIf="loading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                        </mat-progress-spinner>
                      </div>

                      <div class="tbl-spinner" *ngIf="!data && !loading">
                        <h4>0 Records Found</h4>
                    </div>

                    <mat-paginator #paginator [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>

                </div>
            </div>
        </div>
    </div>
</div>
