<div class="auth-container">
  <div class="row auth-main">
    <div class="col-sm-6 px-0 d-none d-sm-block">
      <!-- <div class="left-img" style="background-image: url(assets/images/pages/bg-03.png);">
      </div> -->
      <img class="text-center" src="assets/images/conv.png" style="margin: 100px; padding: 20px;" width="900px"
        height="900px" />
    </div>
    <div class="col-sm-6 auth-form-section">
      <div class="form-section">
        <div class="auth-wrapper">
          <div class="text-center">
            <img src="assets/images/bahati.png" class="px-2 mx-2" alt="" />
          </div>

          <h2 class="welcome-msg text-center">Reset Password </h2>

          <p class="auth-signup-text text-muted text-center">Recover your account</p>
          <form class="validate-form" [formGroup]="authForm" (ngSubmit)="onSubmit()">
            <div class="row">
              <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                <span class="error-subheader2 p-t-20 p-b-15">
                  Enter new password.
                </span>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Enter password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" required>
                      <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{
                          hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                      </a>
                      <mat-error *ngIf="authForm.get('password').hasError('required') || authForm.get('password').touched">
                        Please enter a password
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Confirm password</mat-label>
                      <input matInput [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" required>
                      <a class="show-pwd-icon" href="#" onClick="return false;" matSuffix (click)="hide = !hide"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{
                          hide ? "visibility_off" : "visibility"
                          }}</mat-icon>
                      </a>
                      <mat-error *ngIf="authForm.get('confirmPassword').hasError('required') || authForm.get('confirmPassword').touched">
                        Please enter a password
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
              </div>
            </div>
            <div class="container-auth-form-btn mt-5">
              <button mat-flat-button color="primary" [class.auth-spinner]="loading" [disabled]="loading"  [disabled]="!authForm.valid"
                class="auth-form-btn" type="submit">
                Reset My Password
              </button>
            </div>
            <div class="w-full p-t-25 text-center">
              <div>
                <a routerLink="/authentication/signin" class="txt1">
                  Login?
                </a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

  </div>
</div>