<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modalHeader clearfix">
                    <div class="modal-about">
                        <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
                            Customer Categories
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <mat-progress-bar mode="indeterminate" *ngIf="pLoading"></mat-progress-bar>
        <form class="register-form m-4" [formGroup]="categoryRegistrationForm">
            <!--Supplier Details-->
            <div class="row">
                <mat-card>
                    <mat-card-title style="font-size: x-small;">Customer Details</mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Code</mat-label>
                                    <input matInput formControlName="code" required />
                                    <mat-error *ngIf="categoryRegistrationForm.get('code').hasError('required')">
                                    Category Code is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <input matInput formControlName="description" required />
                                    <mat-error *ngIf="categoryRegistrationForm.get('description').hasError('required')">
                                        Description is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name" required />
                                    <mat-error *ngIf="categoryRegistrationForm.get('name').hasError('required')">
                                        Category Name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="status" required>
                                        <mat-option *ngFor="let stat of statuses" [value]="stat">
                                          {{ stat }}
                                        </mat-option>
                                      </mat-select>
                                    <mat-error *ngIf="categoryRegistrationForm.get('status').hasError('required')">
                                        Status is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">

                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                                <div class="example-button-row">
                                    <button mat-raised-button color="warn" (click)="onCancel()" tabindex="-1">
                                        Cancel
                                    </button>
                                    <button mat-raised-button color="primary"
                                        [disabled]="!categoryRegistrationForm.valid" (click)="onSubmit()">
                                        <span *ngIf="isLoading" class="spinner-border spinner-border-sm mr-1"></span>
                                        <b>Submit</b>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
    </div>
</div>