<div class="addContainer">
    <div class="modalHeader">
        <div class="editRowModal">
            <div class="modalHeader clearfix">
                <div class="modalHeader clearfix">
                    <div class="modal-about">
                        <div class="font-weight-bold p-t-5 ms-2 me-2 font-17">
                            Farmer / Milk Supplier Registration
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div mat-dialog-content>
        <form class="register-form m-4" [formGroup]="farmerRegirstartionForm">
            <!--Supplier Details-->
            <div class="row">
                <mat-card>
                    <mat-card-title style="font-size: x-small;">Farmer Details</mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>First Name</mat-label>
                                    <input matInput formControlName="firstName" required />
                                    <mat-error *ngIf="farmerRegirstartionForm.get('firstName').hasError('required')">
                                        First name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Last Name</mat-label>
                                    <input matInput formControlName="lastName" required />
                                    <mat-error *ngIf="farmerRegirstartionForm.get('lastName').hasError('required')">
                                        Last name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>National ID</mat-label>
                                    <input matInput formControlName="idNumber" required />
                                    <mat-error *ngIf="farmerRegirstartionForm.get('idNumber').hasError('required')">
                                        National ID is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Mobile No.</mat-label>
                                    <input matInput formControlName="mobileNo" required />
                                    <mat-error *ngIf="farmerRegirstartionForm.get('mobileNo').hasError('required')">
                                        Mobile No. is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Alternative Mobile No.</mat-label>
                                    <input matInput formControlName="alternativeMobileNo" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Select Member Type</mat-label>
                                    <mat-select formControlName="memberType" required>
                                        <mat-option value="SPECIAL">SPECIAL</mat-option>
                                        <mat-option value="STANDARD">STANDARD</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="farmerRegirstartionForm.get('memberType').hasError('required')">
                                        Member Type is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Select Gender</mat-label>
                                    <mat-select formControlName="gender" required>
                                        <mat-option value="Male">Male</mat-option>
                                        <mat-option value="Female">Female</mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="farmerRegirstartionForm.get('gender').hasError('required')">
                                        Gender Is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <!--Area of residence-->
            <div class="row">
                <mat-card>
                    <mat-card-title style="font-size: x-small;">Area Of Residence & Milk Collection</mat-card-title>
                    <mat-card-content>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Select County</mat-label>
                                    <mat-select formControlName="county_fk" required>
                                        <mat-option *ngFor="let county of counties" [value]="county.id">
                                            {{ county.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="farmerRegirstartionForm.get('county_fk').hasError('required')">
                                        County is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Select Subcounty</mat-label>
                                    <mat-select formControlName="subcounty_fk" (selectionChange)="getWards($event)"
                                        required>
                                        <mat-option *ngFor="let subcounty of subcounties" [value]="subcounty.id">
                                            {{ subcounty.subcounty }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="farmerRegirstartionForm.get('subcounty_fk').hasError('required')">
                                        Subcounty name is required
                                    </mat-error>
                                </mat-form-field>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Select Ward</mat-label>
                                    <mat-select formControlName="wardFk" required>
                                        <mat-option *ngFor="let ward of wards" [value]="ward.id">
                                            {{ ward.name }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="farmerRegirstartionForm.get('wardFk').hasError('required')">
                                        Ward is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Location</mat-label>
                                    <input matInput formControlName="location"/>
                                </mat-form-field>
                            </div>

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Sub Location</mat-label>
                                    <input matInput formControlName="subLocation" />
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Route</mat-label>
                                    <mat-select formControlName="routeFk" required>
                                        <mat-option *ngFor="let route of routes" [value]="route.id">
                                            {{ route.route }}
                                        </mat-option>
                                    </mat-select>
                                    <mat-error *ngIf="farmerRegirstartionForm.get('routeFk').hasError('required')">
                                        Kindly choose a route
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>

            <!--Bank Details-->
            <div class="row">
                <mat-card>
                    <mat-card-title style="font-size: x-small;">Bank Details</mat-card-title>
                    <mat-card-content>
                        <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                            <mat-form-field class="example-full-width mb-1" appearance="outline">
                                <mat-label>Mode Of Payment</mat-label>
                                <mat-select formControlName="paymentMode" [(value)]="method" required>
                                    <mat-option value="BANK">BANK</mat-option>
                                    <mat-option value="MPESA">MPESA</mat-option>
                                    <mat-option value="SACCO">SACCO</mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <form [formGroup]="bankDetailsForm" *ngIf="method=='BANK' || method=='SACCO'">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-1" appearance="outline">
                                        <mat-label>Bank/Sacco Name</mat-label>
                                        <mat-select formControlName="bankName" required>
                                            <mat-option *ngFor="let bank of banks.list" [value]="bank.name">
                                                {{ bank.name }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="bankDetailsForm.get('bankName').hasError('required')">
                                            Bank/Sacco Name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Bank/Sacco Account Number</mat-label>
                                        <input matInput formControlName="accountNumber" required />
                                        <mat-error *ngIf="bankDetailsForm.get('accountNumber').hasError('required')">
                                            Bank/Sacco Account No is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Bank/Sacco Account Name</mat-label>
                                        <input matInput formControlName="accountName" required />
                                        <mat-error *ngIf="bankDetailsForm.get('accountName').hasError('required')">
                                            Bank/Sacco Account name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Branch Name</mat-label>
                                        <input matInput formControlName="branch" required />
                                        <mat-error *ngIf="bankDetailsForm.get('branch').hasError('required')">
                                            Bank branch name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                        <form [formGroup]="mpesaDetails" *ngIf="method=='MPESA'">
                            <div class="row">
                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Mpesa Number</mat-label>
                                        <input matInput formControlName="mpesaNumber" required />
                                        <mat-error *ngIf="mpesaDetails.get('mpesaNumber').hasError('required')">
                                            Mpesa Number is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>

                                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width" appearance="outline">
                                        <mat-label>Alternative Mpesa Number</mat-label>
                                        <input matInput formControlName="alternativeNumber" />
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </mat-card-content>
                </mat-card>
            </div>

           
            <form [formGroup]="nextOfKinForm">
            <div class="row">
                <mat-card>
                    <mat-card-title style="font-size: x-small;">Next Of Kin</mat-card-title>
                    <mat-card-content>
                        <div class="row">

                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name" />
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>National ID Number</mat-label>
                                    <input matInput formControlName="idNo" />
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Relationship</mat-label>
                                    <input matInput formControlName="relationship" />
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Phone Number</mat-label>
                                    <input matInput formControlName="tel" />
                                </mat-form-field>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width mb-1" appearance="outline">
                                    <mat-label>Address</mat-label>
                                    <input matInput formControlName="address" />
                                </mat-form-field>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>

            <div class="row">
                <mat-card>
                    <mat-card-content>
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                            <div class="example-button-row">
                                <button mat-raised-button color="warn" (click)="onClick()" tabindex="-1">
                                    Cancel
                                </button>
                                <button mat-raised-button color="primary" [disabled]="!farmerRegirstartionForm.valid || (!bankDetailsForm.valid && !mpesaDetails.valid)"
                                    (click)="onSubmit()">
                                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                    <b>Submit</b>
                                </button>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </form>
    </div>
</div>