<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'Advance Payments'" [items]="['Payment', 'Advance Payment']" [active_item]="''">
            </app-breadcrumb>
        </div>
        <!-- <mat-tab-group>
            <mat-tab label="Goods"> -->
        <div class="card">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div class="boxs mail_listing">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="body">
                                <div class="table-responsive">
                                    <div class="materialTableHeader">
                                        <div class="row">
                                            <div class="col-8">
                                                <ul class="header-buttons-left ms-0">
                                                    <li class="dropdown">
                                                        <h2>Payments</h2>
                                                    </li>

                                                    <li>
                                                        <div class="m-l-10" matTooltip="Add">
                                                            <button mat-mini-fab color="primary" (click)="addCall()">
                                                                <mat-icon class="col-white">add</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li>
                                                    <li>
                                                <div class="m-l-10" matTooltip="Refresh">
                                                    <button mat-mini-fab color="primary" (click)="getData()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                                   
                                            <li class="dropdown m-l-5">
                                                <mat-form-field>
                                                    <mat-label>Filter By </mat-label>
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="fn"><b>Farmer Number</b></mat-option>


                                                    </mat-select>
                                                </mat-form-field>
                                            </li>
                                            <li class="dropdown">
                                                <form [formGroup]="filterform">
                                                    <mat-form-field class="m-l-3" *ngIf="selected == 'fn'">
                                                        <input matInput (dateChange)="filterFarmers()"
                                                            placeholder="Enter Farmer Number"
                                                            formControlName="farmerNo">
                                                        <mat-icon matSuffix (click)="getFarmerByFarmerNo()">search
                                                        </mat-icon>
                                                    </mat-form-field>

                                                </form>
                                            </li>
                                                    <!-- <li>
                                                        <div class="m-l-10" matTooltip="Add">
                                                            <button mat-mini-fab color="primary" (click)="verify()">
                                                                <mat-icon class="col-white">add</mat-icon>
                                                            </button>
                                                        </div>
                                                    </li> -->
                                                    <li>
                                                        <!-- <div class="m-l-10" matTooltip="Refresh">
                                                            <button mat-mini-fab color="primary" (click)="refresh()">
                                                                <mat-icon class="col-white">refresh</mat-icon>
                                                            </button>
                                                        </div> -->
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="col-4">
                                                <ul class="header-buttons">
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                      exporter.exportTable('xlsx', {
                                        fileName: 'advance payments',
                                        sheet: 'sheet1'
                                      })
                                    " />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="CSV">
                                                            <img src="assets/images/icons/csv.png" alt=""
                                                                (click)="exporter.exportTable('csv')" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="JSON">
                                                            <img src="assets/images/icons/json.png" alt=""
                                                                (click)="exporter.exportTable('json')" />
                                                        </div>
                                                    </li>
                                                    <li>
                                                        <div class="export-button m-l-10" matTooltip="TXT">
                                                            <img src="assets/images/icons/txt.png" alt=""
                                                                (click)="exporter.exportTable('txt')" />
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <mat-table #table matTableExporter [dataSource]="dataSource" matSort
                                        class="mat-cell" #exporter="matTableExporter">
                                        <!-- ID Column -->
                                       
                                        <ng-container matColumnDef="farmerNo">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Farmer Number
                                            </mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{row.farmerNo}}
                                            </mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="username">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Username
                                                </mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.username }}</mat-cell>
                                        </ng-container>
                                        <ng-container matColumnDef="paymentMode">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Payment mode</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.paymentMode }}</mat-cell>
                                        </ng-container>

                                        <ng-container matColumnDef="advanceAmount">
                                            <mat-header-cell *matHeaderCellDef
                                                mat-sort-header>Advance Amount</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                <!-- {{ <row class="advanceAmount"></row> | currency: 'KES'}} -->
                                                {{ row.advanceAmount}}
                                            </mat-cell>
                                        </ng-container>


                                        <ng-container matColumnDef="date">
                                            <mat-header-cell *matHeaderCellDef mat-sort-header>Payment Date</mat-header-cell>
                                            <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                                [class.even-row]="!(i % 2)">
                                                {{ row.date | date}}
                                            </mat-cell>
                                        </ng-container>

                                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                        <mat-row *matRowDef="let row; columns: displayedColumns"
                                         [style.cursor]="'pointer'" matRipple>
                                        </mat-row>
                                        <mat-cell *matNoDataRow  colspan="4">
                                            No data matching the filter "{{ input.value }}"</mat-cell>
                                    </mat-table>
                                    <!-- Loading spinner -->
                                    <div *ngIf="isLoading" class="tbl-spinner">
                                        <mat-progress-spinner color="primary" [diameter]="40" mode="indeterminate">
                                        </mat-progress-spinner>
                                    </div>
                                    <mat-paginator [pageSize]="5" [pageSizeOptions]="[1, 2, 5, 10, 20, 30, 40, 50, 100]"
                                        aria-label="Select page of users"></mat-paginator>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
          
    </div>
</section>