<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'All Stocks'" [items]="['Stocks']" [active_item]="'All Stocks'">
            </app-breadcrumb>
        </div>

        
    <!-- Widgets -->
    <app-stock-widgets></app-stock-widgets>
    <!-- #END# Widgets -->

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown">
                                                <h2>Stocks</h2>
                                            </li>
                                            <li class="dropdown m-l-20">
                                                <label for="search-input"><i
                                                        class="material-icons search-icon">search</i></label>
                                                <input placeholder="Search" type="text"
                                                    style="text-transform: capitalize;" (keyup)="applyFilter($event)"
                                                    class="browser-default search-field" aria-label="Search box" />
                                            </li>
                                            <!-- <li>
                                                <div class="m-l-10" matTooltip="Add">
                                                    <button mat-mini-fab color="primary" (click)="addCountyCall()">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li> -->
                                            <li>
                                                <div class="m-l-10" matTooltip="Refresh">
                                                    <button mat-mini-fab color="primary" (click)="getData(code)">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                exporter.exportTable('xlsx', {
                                  fileName: 'all-counties',
                                  sheet: 'sheet1'
                                })
                              " />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="CSV">
                                                    <img src="assets/images/icons/csv.png" alt=""
                                                        (click)="exporter.exportTable('csv')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="JSON">
                                                    <img src="assets/images/icons/json.png" alt=""
                                                        (click)="exporter.exportTable('json')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="TXT">
                                                    <img src="assets/images/icons/txt.png" alt=""
                                                        (click)="exporter.exportTable('txt')" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell" #exporter="matTableExporter">
                                <ng-container matColumnDef="id">
                                    <mat-header-cell class="table-img tbl-col-width-per-8" *matHeaderCellDef
                                        mat-sort-header>#</mat-header-cell>
                                    <mat-cell class="table-img tbl-col-width-per-8"
                                        *matCellDef="let element; let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)">{{i + 1}}</mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="count">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-6">Count</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-6">
                                        {{wh.count}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="item">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">Item</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-10">
                                        {{wh.item}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="skuCode">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">skuCode</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-10">
                                        {{wh.skuCode}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="skuId">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">skuId</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-10">
                                        {{wh.skuId}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="unit">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">Unit</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-wrap tbl-col-width-per-10">
                                        {{wh.unit}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="updatedBy">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">updatedBy</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i =index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-wrap tbl-col-width-per-10">
                                        {{wh.updatedBy}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="updatedOn">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="table-img tbl-col-width-per-10">updatedOn</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i=index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap tbl-col-width-per-10">
                                        {{wh.updatedOn | date}}
                                    </mat-cell>
                                </ng-container>

                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let wh;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" (contextmenu)="onContextMenu($event, wh)">
                                        <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                            (click)="edit(wh)" class="tbl-action-btn">
                                            <app-feather-icons matTooltip="Edit Warehouse"
                                                [icon]="'edit'"></app-feather-icons>
                                        </button>
                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                        (click)="delete(wh)" class="tbl-action-btn">
                                            <app-feather-icons matTooltip="Delete Warehouse" [icon]="'trash-2'"
                                                [class]="'tbl-fav-delete'"></app-feather-icons>
                                        </button>                                        
                                        <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                             class="tbl-action-btn">
                                            <app-feather-icons matTooltip="View Warehouse" [icon]="'eye'"
                                                [class]="'tbl-fav-eye'"></app-feather-icons>
                                        </button>
                                                                      
                                    </mat-cell>
                                </ng-container>
                                
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                                <mat-row *matRowDef="let wh; columns: displayedColumns" [style.cursor]="'pointer'" matRipple></mat-row>
                              </mat-table>

                            <!-- Loading spinner -->
                            <div *ngIf="isLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="50" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>

                            <div class="tbl-spinner" *ngIf="isdata==false && !isLoading">
                                <h4>0 Records Found</h4>
                            </div>

                            <mat-paginator #paginator [pageIndex]="0" [pageSize]="5"
                                [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>