<h2 mat-dialog-title class="header">
    <h4>Delete Warehouse</h4>
    <button mat-icon-button class="close-button" [ngStyle]="{'color': 'red'}" (click)="close()"><mat-icon>close</mat-icon></button>
</h2>
<mat-dialog-content>
    <p><b>Name:</b> {{warehouse.name}}</p>
    <p><b>Code:</b> {{warehouse.code}}</p>
    <p><b>Created On:</b> {{warehouse.createdOn | date}}</p>
    <div></div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button class="cancel-button" [ngStyle]="{'color': 'red'}" (click)="close()">Cancel</button>
    <button mat-raised-button class="submit-button" [ngStyle]="{'color' : 'green'}" (click)="submit()">
        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
        <b>Submit</b>
    </button>
</mat-dialog-actions>

