/* .delete-dialog {
    display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* min-height: 50vh;
    margin: 0;
    padding: 0;
    border-top: 4px solid black;
} */

.delete-dialog {
    border-top: 1px solid black;
}

/* .title {
    padding-top: 8px;
    margin: 0;
    display: flex; 
    justify-content: space-between;
    align-items: center;
} */

mat-dialog-content {
    margin-bottom: 5px;
    padding-bottom: 0;
    padding-top: 0;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: left;
    margin: 0;
}

.close-button {
    margin-right: 0px;
}

.dialog-actions {
    /* display: flex; */
    justify-content: flex-start;
    /* align-items: center; */
}

.cancel-button {
    margin-right: 8px;
    align-items: right;
}

@media (max-width: 600) {
    .delete-dialog {
        justify-content: space-between;
    }
}