<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Company'" [items]="['Configurations']" [active_item]="'Company'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Company Details</h2>
            </div>
            <div class="body">
              
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Name:</b> <b style="color: #0288D1;"> {{company.name}}</b></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Address:</b> <b style="color:#0288D1;">{{company.address}}</b></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Phone:</b> <b style="color: #0288D1;">{{company.phone}}</b></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Email:</b> <b style="color:#0288D1;">{{company.email}}</b></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Dealer Name:</b> <b style="color: #0288D1;"> {{company.dealerName}}</b></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Kra Pin:</b> <b style="color:#0288D1;">{{company.kraPin}}</b></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Deal Company:</b> <b style="color:#0288D1;">{{company.dealCompany}}</b></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3 d-flex justify-content-between">
                        <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading"  mat-raised-button color="primary" (click)="addCompany('add')">
                          Add
                        </button>
                        <button class="btn-space" [class.auth-spinner]="loading" [disabled]="loading"  mat-raised-button color="primary" (click)="editCompany('edit')">
                            Update
                        </button>
                    </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
