<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Company'" [items]="['Configurations']" [active_item]="'Company'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Company Details</h2>
            </div>
            <div class="body">
              
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Name:</b> <b style="color: #01579B;"> Rubis Kamakis</b></p>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                        <p style="text-align: center;"><b>Address:</b> <b style="color:#01579B;">Eastern Bypass</b></p>
                    </div>
                </div>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
