<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'All Purchases'" [items]="['Purchases']" [active_item]="'All Purchases'">
            </app-breadcrumb>
        </div>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                   Fuel Purchases
                </ng-template>
                <app-view-purchase></app-view-purchase>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Lubes Purchases
                </ng-template>
                <app-view-lubes-purchase></app-view-lubes-purchase>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    LPG Purchases
                </ng-template>
                <app-view-lpg-purchase></app-view-lpg-purchase>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Other Purchases
                </ng-template>
                <app-view-lpg-purchase></app-view-lpg-purchase>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
