
<div class="container">
    <div mat-dialog-content>
        <div class="row">
            <div class="col text-center">
                <i class="far fa-times-circle fa-6x col-red"></i>
            </div>
            <div class="col-12 text-center">
                <h4>Are you sure you want to APPROVE this Customer?</h4>
            </div>
        </div>

        <mat-dialog-actions align="center" class="mb-1">
            <button mat-raised-button (click)="onCancel()" class="warn">Cancel</button>
            <button mat-raised-button color="primary" (click)="onApprove()"
                [class.auth-spinner]="isloading">Submit</button>
        </mat-dialog-actions>
    </div>