<section class="content">
    <div class="container-fluid content-block">
        <div class="card">
            <div class="header">
                <h2>Create Business Profile</h2>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-9">
                        <form [formGroup]="profileForm" [class.auth-spinner]="loading">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0" appearance="outline">
                                        <mat-label>Company Name</mat-label>
                                        <input formControlName="companyName" matInput required />
                                        <mat-error *ngIf="profileForm.get('companyName').hasError('required')">
                                            Company name is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0" appearance="outline">
                                        <mat-label>Registration Number</mat-label>
                                        <input formControlName="regNo" matInput required />
                                        <mat-error *ngIf="profileForm.get('regNo').hasError('required')">
                                            Registration number is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0" appearance="outline">
                                        <mat-label>Email Address</mat-label>
                                        <input formControlName="companyEmail" matInput required />
                                        <mat-error *ngIf="profileForm.get('companyEmail').hasError('required')">
                                            Company email is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0" appearance="outline">
                                        <mat-label>Phone Number</mat-label>
                                        <input formControlName="phone" matInput required />
                                        <mat-error *ngIf="profileForm.get('phone').hasError('required')">
                                            Company Phone Number is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0" appearance="outline">
                                        <mat-label>location</mat-label>
                                        <input matInput formControlName="location" required />
                                        <mat-error *ngIf="profileForm.get('location').hasError('required')">
                                            Company's Location is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0" appearance="outline">
                                        <mat-label>Physical Address</mat-label>
                                        <input matInput formControlName="physicalAddress" required />
                                        <mat-error *ngIf="profileForm.get('physicalAddress').hasError('required')">
                                            Physical Address is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                    <mat-form-field class="example-full-width mb-0" appearance="outline">
                                        <mat-label>Website</mat-label>
                                        <input matInput formControlName="website" required />
                                        <mat-error *ngIf="profileForm.get('website').hasError('required')">
                                            Company website is required
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-3">
                        <div class="row m-2" *ngIf="!state">
                            <mat-label>Company Logo</mat-label>
                            <input class="form-controls mt-2" type="file" required (change)="onPhotoChange($event)">
                            <div class="form-group">
                                <img [src]="this.profile" *ngIf="this.profile" class="col-md-12 img-preview mt-2">
                            </div>
                        </div>
                        <div class="row" *ngIf="state">
                            <div class="card">
                                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-0">
                                    <div class="row p-2">
                                        <mat-label>Company Logo</mat-label>
                                        <img [src]="this.profile" *ngIf="this.profile"
                                            class="col-md-12 img-preview mt-2">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                        <div class="example-button-row">
                            <button mat-raised-button color="warn" (click)="onCancel()">
                                Cancel
                            </button>
                            <button mat-raised-button color="primary" [disabled]="!profileForm.valid" *ngIf="!state"
                                (click)="onSubmit()">
                                <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                <b>Submit</b>
                            </button>
                            <button mat-raised-button color="accent" [disabled]="!profileForm.valid" *ngIf="state"
                            (click)="update()">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            <b>Update</b>
                        </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>