<div class="card">
  <div class="header">
    <h2>Monthly Collection Trends Per Route</h2>
  </div>
  <div class="row p-3">
    <form [formGroup]="chartParametersForm">
        <div class="row mx-3">
          
          <div class="col-4">
            <mat-form-field appearance="legacy">
              <mat-label>Select year</mat-label>
              <mat-select (selectionChange)="onSelectYear($event)" formControlName="year">
                <mat-option *ngFor="let item of chartDispType" [value]="item">{{ item }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-4">
            <mat-form-field appearance="legacy">
              <mat-label>Select month</mat-label>
              <mat-select (selectionChange)="onSelectMonth($event)" formControlName="month">
                <mat-option *ngFor="let item of monthsArray" [value]="item.value">{{ item.name }}</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
       
          
          <div class="col-4">
            <mat-form-field class="example-full-width mb-2" appearance="legacy">
            <mat-label>Route</mat-label>
            <input readonly formControlName="route" [value]="route" matInput />
            <button (click)="selectRoute()" mat-icon-button matSuffix
              [attr.aria-label]="'Hide password'">
              <mat-icon>search</mat-icon>
            </button>
          </mat-form-field>
          </div>
        </div>
      </form>
      
      <!-- <div *ngIf="isLoading; else chartContainer" class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div> -->
            
</div>
<div class="body">
  <div class="recent-report__chart" *ngIf="!isLoading">
    <apx-chart [series]="chartOptions.series" [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis" [stroke]="chartOptions.stroke" [colors]="chartOptions.colors"
      [dataLabels]="chartOptions.dataLabels" [legend]="chartOptions.legend"
      [tooltip]="chartOptions.tooltip" [markers]="chartOptions.markers" [grid]="chartOptions.grid"
      [yaxis]="chartOptions.yaxis" [title]="chartOptions.title" [fill]="chartOptions.fill">
    </apx-chart>
  </div>
</div>
<div *ngIf="isLoading">
  <app-spinner></app-spinner>
 </div>
</div>