<div class="content-block bg">
    <div class="row clearfix bg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="modalHeader">
                    <div class="editRowModal">
                        <div class="modalHeader clearfix">
                            <div class="modalHeader clearfix">
                                <div class="modal-about">
                                    <div class="font-weight-bold p-t-5 font-17">
                                        {{title}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div mat-dialog-content>
                    <form class="register-form m-4" [formGroup]="form">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input matInput formControlName="name" required>
                                    <mat-error *ngIf="form.get('name').hasError('required')">name is required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Description</mat-label>
                                    <input matInput formControlName="description" required>
                                    <mat-error *ngIf="form.get('description').hasError('required')">
                                        Description Is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Status</mat-label>
                                    <mat-select formControlName="status" required>
                                        <mat-option *ngFor="let stat of statuses" [value]="stat">{{stat}}</mat-option>
                                     </mat-select>
                                    <mat-error *ngIf="form.get('status').hasError('required')">
                                        Status Is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                            <div *ngIf="action === 'edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Code</mat-label>
                                    <input formControlName="code" matInput [value]="code" (input)="code = $event.target.value" readonly>
                                </mat-form-field>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="example-button-row">
                                    <button mat-raised-button color="warn" (click)="close()" tabindex="-1">
                                        Cancel
                                    </button>
                                    <button mat-raised-button color="primary" [disabled]="!form.valid"
                                        (click)="submit()">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        <b>Submit</b>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>