<div class="content-block bg">
    <div class="row clearfix bg">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="modalHeader">
                    <div class="editRowModal">
                        <div class="modalHeader clearfix">
                            <div class="modalHeader clearfix">
                                <div class="modal-about">
                                    <div class="font-weight-bold p-t-5 font-17">
                                        Enter New Delivery
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
                        <mat-icon>close</mat-icon>
                    </button>
                </div>
                <div mat-dialog-content>
                    <form class="register-form m-4" [formGroup]="form">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Farmer No</mat-label>
                                    <input matInput formControlName="farmerNo" required>
                                    <mat-error *ngIf="form.get('farmerNo').hasError('required')">farmer no required</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Collection Session</mat-label>
                                    <mat-select formControlName="session" required>
                                        <mat-option value="Session 1">Session 1</mat-option>
                                        <mat-option value="Session 2">Session 2</mat-option>
                                        <mat-option value="Session 3">Session 3</mat-option>
                                     </mat-select>
                                    <mat-error *ngIf="form.get('session').hasError('required')">
                                        Session Is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Quantity</mat-label>
                                    <input matInput formControlName="quantity" required>
                                    <mat-error *ngIf="form.get('quantity').hasError('required')">
                                        Quantity Is required
                                    </mat-error>
                                </mat-form-field>

                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-0">
                                <mat-form-field class="example-full-width" appearance="outline">
                                    <mat-label>Delivery Date</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="date" required readonly />
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="form.get('date').hasError('required')">
                                        Delivery Date is required
                                    </mat-error>
                                </mat-form-field>
                            </div>
                        </div>
                        <div class="row">
                        </div>

                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                                <div class="example-button-row">
                                    <button mat-raised-button color="warn" (click)="close()" tabindex="-1">
                                        Cancel
                                    </button>
                                    <button mat-raised-button color="primary" [disabled]="!form.valid"
                                        (click)="submit()">
                                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                                        <b>Submit</b>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
            </div>
        </div>