<div class="card">
  <div class="header">
    <h2>Farmers Per Route</h2>
  </div>
    <!-- <div class="body" *ngIf="!isLoading"> -->
    
      <!-- <apx-chart [series]="barChartOptions.series" [chart]="barChartOptions.chart"
        [dataLabels]="barChartOptions.dataLabels" [plotOptions]="barChartOptions.plotOptions"
        [responsive]="barChartOptions.responsive" [xaxis]="barChartOptions.xaxis"
        [tooltip]="barChartOptions.tooltip" [legend]="barChartOptions.legend" [fill]="barChartOptions.fill">
      </apx-chart> -->

  <!-- </div> -->
  </div>
  