/* You can add global styles to this file, and also import other style files */

.odd-row {
  background-color: white;
}

.even-row {
  background-color: #eee;
}

html,
body {
  height: 100%;
  font-family: 'Roboto';
  font-weight: 400 !important;
}

body {
  // text-transform: uppercase !important;
  margin: 0;
  font-family: 'Roboto'
}


.bg {
  background:#0288D1;
}

.bg1 {
  background:#0288D1;
}

.down {
  background: #0288D1;
}

.fg {
  color: #0288D1;
  font-weight: bolder;
}

.fg1 {
  color: #fafafa;
  font-weight: bolder;
}

.left {
  float: left;
}

.right {
  float: right;
}

.wbg {
  color: #fafafa;
  font-weight: bolder;
}


.trow
{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
