<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'All Branches'" [items]="['Branches']" [active_item]="'All Branches'">
            </app-breadcrumb>
        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-8">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown">
                                                <h2>Branches</h2>
                                            </li>
                                            <li class="dropdown m-l-20">
                                                <label for="search-input"><i
                                                        class="material-icons search-icon">search</i></label>
                                                <input placeholder="Search" type="text"
                                                    style="text-transform: capitalize;" (keyup)="applyFilter($event)"
                                                    class="browser-default search-field" aria-label="Search box" />
                                            </li>
                                            <li>
                                                <div class="m-l-10" matTooltip="ADD">
                                                    <button mat-mini-fab color="primary" (click)="createBranch('create')">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="m-l-10" matTooltip="REFRESH">
                                                    <button mat-mini-fab color="primary" (click)="getBranches()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-4">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="exporter.exportTable('xlsx', {fileName: 'Products',sheet: 'sheet1' })" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="CSV">
                                                    <img src="assets/images/icons/csv.png" alt=""
                                                        (click)="exporter.exportTable('csv')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="JSON">
                                                    <img src="assets/images/icons/json.png" alt=""
                                                        (click)="exporter.exportTable('json')" />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="TXT">
                                                    <img src="assets/images/icons/txt.png" alt=""
                                                        (click)="exporter.exportTable('txt')" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                                #exporter="matTableExporter">
        
                                <ng-container matColumnDef="id">
                                    <mat-header-cell *matHeaderCellDef class="table-img tbl-col-width-per-8"
                                        mat-sort-header>#</mat-header-cell>
                                    <mat-cell class="table-img tbl-col-width-per-8"
                                        *matCellDef="let element; let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)">{{i+1}}</mat-cell>
                                </ng-container> 
                            
                                <ng-container matColumnDef="name">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">
                                        Name</mat-header-cell>
                                    <mat-cell *matCellDef="let branch;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{branch.name}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="location">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Location</mat-header-cell>
                                    <mat-cell *matCellDef="let branch;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{branch.location}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="email">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Email</mat-header-cell>
                                    <mat-cell *matCellDef="let branch;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{branch.email}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="mobile">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Phone</mat-header-cell>
                                    <mat-cell *matCellDef="let branch;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{branch.mobile}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="manager">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Manager</mat-header-cell>
                                    <mat-cell *matCellDef="let branch;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{branch.manager}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Status</mat-header-cell>
                                    <mat-cell *matCellDef="let parent; let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)"  class="column-nowrap">
                            
                                      <!-- Active Status -->
                                      <div *ngIf="parent.status === 'ACTIVE'">
                                        <span class="badge badge-pill badge-primary col-green">
                                          {{ "ACTIVE" }}
                                        </span>
                                        <button mat-icon-button color="warn" (click)="toggleActivation(parent)" class="tbl-action-btn">
                                          <app-feather-icons matTooltip="Deactivate" [icon]="'x'" [class]="'tbl-fav-deactivate'">
                                          </app-feather-icons>
                                        </button>
                                      </div>
                                  
                                      <!-- Inactive Status -->
                                      <div *ngIf="parent.status === 'INACTIVE'">
                                        <span class="badge badge-pill badge-primary col-red">
                                          {{ "INACTIVE" }}
                                        </span>
                                        <button mat-icon-button color="primary" (click)="toggleActivation(parent)" class="tbl-action-btn">
                                          <app-feather-icons matTooltip="Activate"  [icon]="'check'" [class]="'tbl-fav-approve'">
                                          </app-feather-icons>
                                        </button>
                                      </div>
                                    </mat-cell>
                                  </ng-container>
                                                      
                                <ng-container matColumnDef="actions">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let branch;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" (contextmenu)="onContextMenu($event, branch)">
                                       
                                        <button mat-icon-button color="accent" class="tbl-action-btn" (click)="editBranch(branch, 'edit')">
                                            <app-feather-icons [icon]="'edit'" [class]="'tbl-fav-edit'"></app-feather-icons>
                                          </button>
                                        <button mat-icon-button (click)="$event.stopPropagation()"
                                            (click)="deleteBranch(branch)" matTooltip="Delete Branch"
                                            class="tbl-action-btn">
                                            <app-feather-icons matTooltip="Delete Branch" [icon]="'trash-2'"
                                                [class]="'tbl-fav-delete'"></app-feather-icons>
                                        </button>
                                    </mat-cell>
                                </ng-container>
                                
                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <mat-row *matRowDef="let branch; columns: displayedColumns"
                                     [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                            </mat-table>
        
                            <!-- Loading spinner -->
                            <div *ngIf="isLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="50" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>
        
                            <div class="tbl-spinner" *ngIf="isdata==false && !isLoading">
                                <h4>0 Records Found</h4>
                            </div>
        
                            <mat-paginator #paginator [pageIndex]="0" [pageSize]="5"
                                [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</section>