<section class="content mb-5">
   <mat-card class="content mt-5 pt-5">
    <form [formGroup]="storeForm" (ngSubmit)="onSubmit()" class="p-3 border rounded shadow-sm bg-light">
        <div class="row">

        <div class="mb-3 col-md-6">
          <label for="name" class="form-label">Store Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
        </div>
      
        <div class="mb-3 col-md-6">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" rows="3" formControlName="description"></textarea>
        </div>
      
        <div class="mb-3 col-md-6">
          <label for="location" class="form-label">Location</label>
          <input type="text" class="form-control" id="location" formControlName="location">
        </div>
    </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
   </mat-card>
  </section>
  