<section class="content">
    <div class="content-block">
        <div class="block-header">
            <!-- breadcrumb -->
            <app-breadcrumb [title]="'All prices'" [items]="['Prices']"
                [active_item]="'All Prices'">
            </app-breadcrumb>
        </div>

        <div class="row">
            <mat-progress-bar mode="indeterminate" *ngIf="isLoading"></mat-progress-bar>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="card">
                    <div class="body">
                        <div class="table-responsive">
                            <div class="materialTableHeader">
                                <div class="row">
                                    <div class="col-10">
                                        <ul class="header-buttons-left ms-0">
                                            <li class="dropdown">
                                                <h2>Prices</h2>
                                            </li>

                                            <li>
                                                <div class="m-l-10" matTooltip="Add">
                                                    <button mat-mini-fab color="primary" (click)="addCall()">
                                                        <mat-icon class="col-white">add</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="m-l-10" matTooltip="Refresh">
                                                    <button mat-mini-fab color="primary" (click)="getData()">
                                                        <mat-icon class="col-white">refresh</mat-icon>
                                                    </button>
                                                </div>
                                            </li>
                                            <li class="dropdown m-l-5">
                                                <mat-form-field>
                                                    <mat-label>Filter By </mat-label>
                                                    <mat-select [(value)]="selected">
                                                        <mat-option value="fn"><b>Price</b></mat-option>
                                                    </mat-select>
                                                </mat-form-field>
                                            </li>
                                            <li class="dropdown">
                                                <form [formGroup]="filterform">
                                                    <mat-form-field class="m-l-3" *ngIf="selected == 'fn'">
                                                        <input matInput (dateChange)="filterPrices()"
                                                            placeholder="Enter Price"
                                                            formControlName="price">
                                                        <mat-icon matSuffix (click)="getPriceByPrice()">search
                                                        </mat-icon>
                                                    </mat-form-field>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="col-2">
                                        <ul class="header-buttons">
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="XLSX">
                                                    <img src="assets/images/icons/xlsx.png" alt="" (click)="
                                exporter.exportTable('xlsx', {
                                  fileName: 'all-prices',
                                  sheet: 'sheet1'
                                })
                              " />
                                                </div>
                                            </li>
                                            <li>
                                                <div class="export-button m-l-10" matTooltip="CSV">
                                                    <img src="assets/images/icons/csv.png" alt=""
                                                        (click)="exporter.exportTable('csv')" />
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                                #exporter="matTableExporter">
                                <!-- Checkbox Column -->
                                <ng-container matColumnDef="select">
                                    <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                            [checked]="selection.hasValue() && isAllSelected()"
                                            [indeterminate]="selection.hasValue() && !isAllSelected()"
                                            [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                        <mat-checkbox (click)="$event.stopPropagation()"
                                            (change)="$event ? selection.toggle(row) : null"
                                            [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                        </mat-checkbox>
                                    </mat-cell>
                                </ng-container>
                                <!-- ID Column -->
                                <ng-container matColumnDef="id">
                                    <mat-header-cell class="table-img tbl-col-width-per-8" *matHeaderCellDef
                                        mat-sort-header>#</mat-header-cell>
                                    <mat-cell class="table-img tbl-col-width-per-8"
                                        *matCellDef="let element; let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)">{{i + 1}}</mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="fromDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">From Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{row.fromDate | date: 'MMM d, y'}}
                                    </mat-cell>
                                </ng-container>
                                <ng-container matColumnDef="toDate">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">To Date
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row; let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap">
                                      {{ row.toDate | date: 'MMM d, y' }}
                                    </mat-cell>
                                  </ng-container>                                  
                                <ng-container matColumnDef="price">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Price
                                    </mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{row.price}}
                                    </mat-cell>
                                </ng-container>                               
                                <ng-container matColumnDef="status">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Status</mat-header-cell>
                                  
                                    <mat-cell *matCellDef="let row; let i = index" [class.odd-row]="i % 2" [class.even-row]="!(i % 2)" class="column-nowrap">
                                      <!-- Conditionally Render Badges Based on the Status -->
                                      <div *ngIf="row.status == 'ACTIVE'">
                                        <span class="badge badge-pill badge-primary col-green">
                                          {{ "ACTIVE" }}
                                        </span>
                                      </div>
                                      <div *ngIf="row.status == 'DELETED'">
                                        <span class="badge badge-pill badge-primary col-red">
                                          {{ "DELETED" }}
                                        </span>
                                      </div>
                                      <div *ngIf="row.status != 'ACTIVE' && row.status != 'DELETED'">
                                        <span class="badge badge-pill badge-secondary">Unknown Status</span>
                                    </div>
                                   </mat-cell>
                                  </ng-container>                                  
                                <ng-container matColumnDef="code">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header
                                        class="column-nowrap">Code</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" class="column-nowrap">
                                        {{row.code }}
                                    </mat-cell>
                                </ng-container>                

                                <ng-container matColumnDef="action">
                                    <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                                    <mat-cell *matCellDef="let row;let i = index" [class.odd-row]="i % 2"
                                        [class.even-row]="!(i % 2)" (contextmenu)="onContextMenu($event, row)">
                                        <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                            (click)="editCall(row)" class="tbl-action-btn">
                                            <app-feather-icons matTooltip="Edit Price"
                                                [icon]="'edit'"></app-feather-icons>
                                        </button>
                                        <button mat-icon-button color="accent" (click)="$event.stopPropagation()"
                                            (click)="deleteCall(row)" class="tbl-action-btn">
                                            <app-feather-icons matTooltip="Delete Price" [icon]="'trash-2'"
                                                [class]="'tbl-fav-delete'"></app-feather-icons>
                                        </button>
                                        <!-- <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                            (click)="viewCustomerDetails(row)" class="tbl-action-btn">
                                            <app-feather-icons matTooltip="View Price Details" [icon]="'eye'"
                                                [class]="'tbl-fav-eye'"></app-feather-icons>
                                        </button> -->
                                        <!-- <button mat-icon-button color="primary" (click)="$event.stopPropagation()"
                                            (click)="viewCustomerPurchases(customer)" class="tbl-action-btn">
                                            <app-feather-icons matTooltip="View Purchase Statements" [icon]="'book'"
                                                [class]="'tbl-fav-eye'"></app-feather-icons>
                                        </button> -->
                                    </mat-cell>
                                </ng-container>

                                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                <!-- <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row> -->
                                <mat-row *matRowDef="let row; columns: displayedColumns"
                                    (click)="customerDetailsCall(customer)" [style.cursor]="'pointer'" matRipple>
                                </mat-row>
                                <mat-cell *matNoDataRow colspan="4">
                                    No data matching the filter "{{ input.value }}"</mat-cell>
                            </mat-table>

                            <!-- Loading spinner -->
                            <div *ngIf="isLoading" class="tbl-spinner">
                                <mat-progress-spinner color="primary" [diameter]="50" mode="indeterminate">
                                </mat-progress-spinner>
                            </div>

                            <div class="tbl-spinner" *ngIf="isdata==false && !isLoading">
                                <h4>0 Records Found</h4>
                            </div>

                            <mat-paginator #paginator [pageIndex]="0" [pageSize]="5"
                                [pageSizeOptions]="[5, 10, 25, 100]">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>