<section class="content">
    <div class="content-block">
        <div class="block-header">
            <app-breadcrumb [title]="'All Products'" [items]="['Products']" [active_item]="'Products'">
            </app-breadcrumb>
        </div>
        <mat-tab-group>
            <mat-tab>
                <ng-template mat-tab-label>
                    Category
                </ng-template>
                <app-view-category></app-view-category>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    Products
                </ng-template>
                <app-products></app-products>
            </mat-tab>
        </mat-tab-group>
    </div>
</section>
