<section class="content">
  <div class="content-block">
    <div class="block-header">
       <!-- breadcrumb -->
      <app-breadcrumb [title]="'Dashboard'" [items]="['Home']" [active_item]="'Dashboard'">
      </app-breadcrumb>
    </div>
    <!-- <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-collections-per-user></app-collections-per-user>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <app-users-per-department></app-users-per-department>
      </div>
    </div> -->
  </div>
</section>