
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="body">
                <div class="table-responsive">
                    <div class="materialTableHeader">
                        <div class="row">
                            <div class="col-8">
                                <ul class="header-buttons-left ms-0">
                                    <li class="dropdown">
                                        <h2>Departments</h2>
                                    </li>
                                    <li class="dropdown m-l-20">
                                        <label for="search-input"><i
                                                class="material-icons search-icon">search</i></label>
                                        <input placeholder="Search" type="text"
                                            style="text-transform: capitalize;" (keyup)="applyFilter($event)"
                                            class="browser-default search-field" aria-label="Search box" />
                                    </li>
                                    <li>
                                        <div class="m-l-10" matTooltip="ADD">
                                            <button mat-mini-fab color="primary" (click)="addCategory()">
                                                <mat-icon class="col-white">add</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="m-l-10" matTooltip="REFRESH">
                                            <button mat-mini-fab color="primary" (click)="getData()">
                                                <mat-icon class="col-white">refresh</mat-icon>
                                            </button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-4">
                                <ul class="header-buttons">
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="XLSX">
                                            <img src="assets/images/icons/xlsx.png" alt="" (click)="exporter.exportTable('xlsx', {fileName: 'departments',sheet: 'sheet1' })" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="CSV">
                                            <img src="assets/images/icons/csv.png" alt=""
                                                (click)="exporter.exportTable('csv')" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="JSON">
                                            <img src="assets/images/icons/json.png" alt=""
                                                (click)="exporter.exportTable('json')" />
                                        </div>
                                    </li>
                                    <li>
                                        <div class="export-button m-l-10" matTooltip="TXT">
                                            <img src="assets/images/icons/txt.png" alt=""
                                                (click)="exporter.exportTable('txt')" />
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <mat-table #table matTableExporter [dataSource]="dataSource" matSort class="mat-cell"
                        #exporter="matTableExporter">
                        
                        <!-- <ng-container matColumnDef="select">
                            <mat-header-cell *matHeaderCellDef [ngClass]="'tbl-col-width-per-6'">
                                <mat-checkbox (change)="$event ? masterToggle() : null"
                                    [checked]="selection.hasValue() && isAllSelected()"
                                    [indeterminate]="selection.hasValue() && !isAllSelected()"
                                    [ngClass]="'tbl-checkbox'">
                                </mat-checkbox>
                            </mat-header-cell>
                            <mat-cell *matCellDef="let row" [ngClass]="'tbl-col-width-per-6'">
                                <mat-checkbox (click)="$event.stopPropagation()"
                                    (change)="$event ? selection.toggle(row) : null"
                                    [checked]="selection.isSelected(row)" [ngClass]="'tbl-checkbox'">
                                </mat-checkbox>
                            </mat-cell>
                        </ng-container>  -->
                         <ng-container matColumnDef="id">
                            <mat-header-cell *matHeaderCellDef class="table-img tbl-col-width-per-8"
                                mat-sort-header>#</mat-header-cell>
                            <mat-cell class="table-img tbl-col-width-per-8"
                                *matCellDef="let element; let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)">{{i +
                                1}}</mat-cell>
                        </ng-container> 
                        <ng-container matColumnDef="name">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">
                                Name</mat-header-cell>
                            <mat-cell *matCellDef="let department;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="column-nowrap psl-3">
                                {{name}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="code">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Code</mat-header-cell>
                            <mat-cell *matCellDef="let department;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="column-nowrap">
                                {{code}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="description">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Description</mat-header-cell>
                            <mat-cell *matCellDef="let department;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="column-nowrap psl-3">
                                {{description}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Status</mat-header-cell>
                            <mat-cell *matCellDef="let department;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="column-nowrap">
                                {{status}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="createdBy">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Created By</mat-header-cell>
                            <mat-cell *matCellDef="let department;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="column-nowrap psl-3">
                                {{createdBy}}
                            </mat-cell>
                        </ng-container>
                        <ng-container matColumnDef="updatedBy">
                            <mat-header-cell *matHeaderCellDef mat-sort-header class="column-nowrap">Updated By</mat-header-cell>
                            <mat-cell *matCellDef="let department;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" class="column-nowrap">
                                {{updatedBy}}
                            </mat-cell>
                        </ng-container>
                        
                        <ng-container matColumnDef="action">
                            <mat-header-cell *matHeaderCellDef mat-sort-header>Actions</mat-header-cell>
                            <mat-cell *matCellDef="let department;let i = index" [class.odd-row]="i % 2"
                                [class.even-row]="!(i % 2)" (contextmenu)="onContextMenu($event, department)">
                                <button mat-icon-button (click)="$event.stopPropagation()"
                                    (click)="editDepartmentCall(department)" matTooltip="Edit department"
                                    class="tbl-action-btn">
                                    <app-feather-icons color="primary" matTooltip="Edit Department"
                                        [icon]="'edit'"></app-feather-icons>
                                </button>
                                <button mat-icon-button (click)="$event.stopPropagation()"
                                    (click)="deleteDepartmentCall(department)" matTooltip="Delete department"
                                    class="tbl-action-btn">
                                    <app-feather-icons matTooltip="Delete Department" [icon]="'trash-2'"
                                        [class]="'tbl-fav-delete'"></app-feather-icons>
                                </button>
                            </mat-cell>
                        </ng-container>

                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumns"
                            (click)="departmentDetailsCall(department)" [style.cursor]="'pointer'" matRipple>
                        </mat-row>
                    </mat-table>

                    <!-- Loading spinner -->
                    <div *ngIf="isLoading" class="tbl-spinner">
                        <mat-progress-spinner color="primary" [diameter]="50" mode="indeterminate">
                        </mat-progress-spinner>
                    </div>

                    <div class="tbl-spinner" *ngIf="isdata==false && !isLoading">
                        <h4>0 Records Found</h4>
                    </div>

                    <mat-paginator #paginator [pageIndex]="0" [pageSize]="5"
                        [pageSizeOptions]="[5, 10, 25, 100]">
                    </mat-paginator>
                </div>
            </div>
        </div>
    </div>
</div>

